<tr class="docsection"><th><a name="fileInfoHelp"></a> {{ helptitle }} </th></tr>
<tr><td class="doctextlight">

<p>
PanDA's JEDI file information records the processing status and history of a file (as well as its static parameters). 'Occurrences' of a file are usages of the file in processing. A file may be used many times, if different jobs are assigned different event ranges in the file to process (in which case firstevent and endevent record the assigned range), and/or if a job fails and is retried.
</p>

<p>Output file naming can be tricky in JEDI. <a href="https://twiki.cern.ch/twiki/bin/view/PanDA/PandaJEDI#Naming_of_output_file">See this documentation.</a>
</p>

<p>
Documentation on PanDA JEDI files:
<a href="https://twiki.cern.ch/twiki/bin/view/PanDA/PandaJEDI#Transition_of_file_status">status transitions</a>,
<a href="https://twiki.cern.ch/twiki/bin/view/PanDA/PandaJEDI#The_JEDI_Dataset_Contents_table">schema</a>.<p>
</p>

</td>

