{% extends "_base_lsst.html" %}
{% load url from future %}

{% block page_title %} {{ viewParams.MON_VO }} PanDA job errors{% endblock %}
{% block title %} <a href="{% url 'index' %}">{{ viewParams.MON_VO }} PanDA monitor</a>{% endblock %}
{% block subtitle %}PanDA job error summary{{ viewParams.selection|safe }}
{% if user %} &nbsp; user={{ user }} {% endif %}
{% if site %} &nbsp; site={{ site }} {% endif %}
{% if vo %} &nbsp; VO={{ vo }} {% endif %}
{% endblock %}
{% block body %}

{{ viewParams.header }}

{% if sumd %}

<b>{{ njobs }} jobs found in failed or holding state. </b> &nbsp;  <a href="{% url 'jobList' %}?{{ requestString }}&jobstatus=failed|holding&hours={{hours}}&limit={{limit}}"><b>Show job list</b></a>

{% if sortby == "count" %}
<p>Sort by <b>count</b>, <a href="{{nosorturl}}">alpha</a>
{% else %}
<p>Sort by <a href="{{xurl}}sortby=count">count</a>, <b>alpha</b>
{% endif %}

{% if requestParams.jobtype %}<br><b>Job type: {{ requestParams.jobtype }}</b> {% endif %}
{% if requestParams.cloud %}<br><b>Cloud: {{ requestParams.cloud }}</b> {% endif %}
{% if requestParams.computingsite %}<br><b>Site: <a href="{% url 'siteInfo' requestParams.computingsite %}">{{ requestParams.computingsite }}</a></b> {% endif %}
{% if requestParams.produsername %}<br><b>User: <a href="{% url 'userInfo' requestParams.produsername %}?display_limit=100">{{ requestParams.produsername }}</a></b> {% endif %}
{% if requestParams.jeditaskid %}<br><b>JEDI Task: <a href="{% url 'taskInfo' requestParams.jeditaskid  %}">{{ requestParams.jeditaskid }} &nbsp; {{ taskname }}</a> </b> {% endif %}
{% if requestParams.taskid %}<br><b>Task ID: {{ requestParams.taskid }}</b> {% endif %}
{% if requestParams.jobsetid %}<br><b>Jobset ID: {{ requestParams.jobsetid }}</b> {% endif %}
{% if requestParams.workinggroup %}<br><b>Working group: {{ requestParams.workinggroup }}</b> {% endif %}

<p>

<p>Job modification times in this listing range from <b>{{ tfirst|date:"Y-m-d H:i" }}</b> to <b>{{ tlast|date:"Y-m-d H:i" }}</b><p>

<p>Go to <a href="#summary">overall</a>, <a href="#sites">site</a>, <a href="#users">user</a>, <a href="#tasks">task</a> summary

{% if errHist %}

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Time', 'Count'],

{% for time, count in errHist %}
          ['{{ time|date:"m-d H:i" }}', {{ count }}],
{% endfor %}

            ])
        var options = {
          title: 'Error count timeline',
          legend: { position: 'none' },
          hAxis: {title: 'Time (empty bins suppressed)', titleTextStyle: {color: 'black'},  textStyle: { fontSize:11},},
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
    <div id="chart_div" style="height: 500px;"></div>

{% endif %}

<table>
<tr class='tablesection'><th colspan=20> Error occurrences by job attribute </th></tr>
{% for fdict in sumd %}
<tr><th> {{ fdict.field }} ({{ fdict.list|length }}) </th><td>
{% for item in fdict.list %}
{% if fdict.field == 'jobstatus' %} <span class='{{item.kname}}'> {% else %} <span> {% endif %}  {{ item.kname }} </span>
<a href="{{xurl}}{{fdict.field}}={{item.kname}}">({{ item.kvalue }})</a> &nbsp; 
{% endfor %}
</td></tr>
{% endfor %}
</table>

{% endif %}

{% if errsByCount %}
<a name="summary"></a>
<table>
<tr class='tablesection'><th colspan=20> Overall error summary </th></tr>
<tr><th>Category:code</th><th>Nerrors</th><th>Sample error description</th></tr>
{% for errval in errsByCount %}
<tr><th> <a href="{{xurl}}jobstatus=failed|holding&{{errval.codename}}={{errval.codeval}}&hours={{hours}}&display_limit=100"> {{ errval.error }} </a> </th> <td> {{ errval.count }} </td> <td> {{ errval.diag }} </td>  </tr>
{% endfor %}
</table>
{% endif %}

{% if errsBySite %}
<a name="sites"></a>
<table>
<tr class='tablesection'><th colspan=20> Site error summary </th></tr>
{% for site in errsBySite %}
<tr><th> <a href="{{xurl}}computingsite={{ site.name }}"> {{ site.name }} </a> </th>
<th> {{ site.toterrors }} </th>
<th> Total errors in {{ site.toterrjobs }} jobs with errors. &nbsp; <a href="{% url 'jobList' %}?computingsite={{ site.name }}&jobstatus=finished&hours={{ hours }}"><span class='finished'> Finished: {{ site.finished }} </span></a> &nbsp; <a href="{% url 'jobList' %}?computingsite={{ site.name }}&jobstatus=failed&hours={{ hours }}"><span class='failed'> Failed: {{ site.failed }} </span></a> &nbsp; % failed: {{ site.pctfail }} &nbsp; <a href="{% url 'jobList' %}?computingsite={{ site.name }}&jobstatus=holding&hours={{ hours }}"><span class='holding'> Holding: {{ site.holding }} </span></a> &nbsp;  <a href="{% url 'jobList' %}?computingsite={{ site.name }}&jobstatus=cancelled&hours={{ hours }}"><span class='cancelled'> Cancelled: {{ site.cancelled }} </span></a> </th>  </tr>
{% for errval in site.errorlist %}
<tr><td>  </td> <td> <a href="{{xurl}}computingsite={{site.name}}&jobstatus=failed|holding&{{errval.codename}}={{errval.codeval}}&hours={{hours}}&display_limit=100">{{ errval.count }}</a> </td> <td> <b>{{ errval.error }}</b> &nbsp; <font size=-1> {{ errval.diag }} </font></td>  </tr>
{% endfor %}
{% endfor %}
</table>
{% endif %}

{% if errsByUser %}
<a name="users"></a>
<table>
<tr class='tablesection'><th colspan=20> User error summary </th></tr>
{% for user in errsByUser %}
<tr><th> <a href="{{xurl}}produsername={{ user.name }}"> {{ user.name }} </a> </th> <th> {{ user.toterrors }} </th> <th> Total errors </th>  </tr>
{% for errval in user.errorlist %}
<tr><td>  </td> <td> <a href="{{xurl}}produsername={{user.name}}&jobstatus=failed|holding&{{errval.codename}}={{errval.codeval}}&hours={{hours}}&display_limit=100">{{ errval.count }}</a> </td> <td> <b>{{ errval.error }}</b> &nbsp; <font size=-1> {{ errval.diag }} </font></td>  </tr>
{% endfor %}
{% endfor %}
</table>
{% endif %}

{% if errsByTask %}
<a name="tasks"></a>
<table>
<tr class='tablesection'><th colspan=20> Task error summary </th></tr>
{% for task in errsByTask %}
<tr><th colspan=10> {% if task.longname != '' %} <a href="{{xurl}}{{task.tasktype}}={{ task.name }}">{{ task.longname }}</a> {% else %} <a href="{{xurl}}{{task.tasktype}}={{ task.name }}"> {{ task.tasktype }} {{ task.name }} </a>{% endif %} </th></tr>
<tr><th> &nbsp; </th> <th> {{ task.toterrors }} </th> <th> Total errors </th>  </tr>
{% for errval in task.errorlist %}
<tr><td>  </td> <td> <a href="{{xurl}}{{task.tasktype}}={{task.name}}&jobstatus=failed|holding&{{errval.codename}}={{errval.codeval}}&hours={{hours}}&display_limit=100">{{ errval.count }}</a> </td> <td> <b>{{ errval.error }}</b> &nbsp; <font size=-1> {{ errval.diag }} </font></td>  </tr>
{% endfor %}
{% endfor %}
</table>

{% else %}

No failed/holding jobs found.

{% endif %}

{% endblock %}

{% block helptext %}
<p>
This page summarizes the failure modes of recent jobs. PanDA has several error categories based on where the error occurred: in the PanDA server (taskbuffer), the server's dispatcher, the pilot, the DDM services invoked by the pilot, the transformation (job payload). With particular errors designated by particular codes, and each error having an associated error description (which can differ job to job as they detail the error).
</p>
<p>
This page summarizes category:code occurrences for various views of interest: overall error summary, error breakdown by site, by user, and by task. 
</p>
<p>
If you drill down eg. into the failures at a particular site, by clicking the site name, you will bring up a page summarizing errors at that site. The limit depth of the query will now be applied entirely to the site you have zeroed in on, so you will get more failure information (the limit is necessary for performance reasons). The timeline plot, attribute summary, and category:code breakdown will now be exclusive to the site of interest. Similarly for drilling down to users and tasks. 
</p>
<p>
<b>Wildcards:</b> The computingsite parameter on the URL supports wildcards such that multiple sites can be included in the error summary. eg. computingsite=UKI-*, computingsite=*MCORE, computingsite=*-MAN-*
{% endblock %}
