<tr class="docsection"><th><a name="errorSummaryHelp"></a> {{ helptitle }} </th></tr>
<tr><td class="doctextlight">

<p>
This page summarizes the failure modes of recent jobs. PanDA has several error categories based on where the error occurred: in the PanDA server (taskbuffer), the server's dispatcher, the pilot, the DDM services invoked by the pilot, the transformation (job payload). With particular errors designated by particular codes, and each error having an associated error description (which can differ job to job as they detail the error).
</p>
<p>
This page summarizes category:code occurrences for various views of interest: overall error summary, error breakdown by site, by user, and by task. 
</p>
<p>
If you drill down eg. into the failures at a particular site, by clicking the site name, you will bring up a page summarizing errors at that site. The limit depth of the query will now be applied entirely to the site you have zeroed in on, so you will get more failure information (the limit is necessary for performance reasons). The timeline plot, attribute summary, and category:code breakdown will now be exclusive to the site of interest. Similarly for drilling down to users and tasks. 
</p>
<p>
<b>Wildcards:</b> The computingsite parameter on the URL supports wildcards such that multiple sites can be included in the error summary. eg. computingsite=UKI-*, computingsite=*MCORE, computingsite=*-MAN-*

</td>

