{% extends "_base_lsst.html" %}{% load url from future %}

{% block page_title %} {{ viewParams.MON_VO }} PanDA files {% endblock %}
{% block title %} <a href="{% url 'index' %}">{{ viewParams.MON_VO }} PanDA monitor</a>{% endblock %}
{% block subtitle %}PanDA files<font size=-1>{{ viewParams.selection|safe }}</font>{% endblock %}

{% block body %}

{% if files %}

{% if requestParams.datasetname %}<br>Files in dataset <b>{{ requestParams.datasetname }}</b> {% endif %}
{% if requestParams.datasetid %}<br>Files in dataset ID = <b>{{ requestParams.datasetid }}</b> {% endif %}
<p>
<b>{{ files|length }} listed files</b>
{% if nfiles != files|length %} <br> <b>{{ nfiles }} unique files</b> {% endif %}
{% if requestParams.datasetname or requestParams.datasetid or nfiles != files|length %}
<br>A given file can appear multiple times within a JEDI dataset. Each entry corresponds to a distinct processing of the file, associated with a particular PanDA job and attempt number.
{% endif %}
<p>

<table>
<tr class='tablesection'>
	<th>File name</th>
	<th>Scope</th>
	<th>Type</th>
	<th>Size (MB)</th>
	<th>Task</th>
	<th>PanDA Job</th>
	<th>Attempt</th>
	<th>Status</th>
	<th>Created</th>
	<th>GUID</th>
	<th>File ID</th>
</tr>
{% for frec in files %}
	<tr>
		<td><a href="{% url 'fileInfo' %}?lfn={{ frec.lfn }}">{{ frec.lfn }}</a></td>
		<td>{{ frec.scope }}</td>
		<td>{{ frec.type }}</td>
		<td>{{ frec.fsizemb }}</td>
		<td><a href="{% url 'taskInfo' %}?jeditaskid={{ frec.jeditaskid }}">{{ frec.jeditaskid }}</a></td>
		<td>{% if frec.pandaid %}<a href="{% url 'jobInfo' %}?pandaid={{ frec.pandaid }}">{{ frec.pandaid }}</a> {% endif %}</td>
		<td>{{ frec.attemptnr }}</td>
		<td class='{{frec.status}}'>{{ frec.status }}</td>
		<td>{{ frec.creationdate|date:"Y-m-d H:i" }}</td>
		<td>{{ frec.guid }}</td>
		<td>{{ frec.fileid }}</td>
	</tr>
{% endfor %}
</table>

{% else %}

No files matching selection were found.

{% endif %}

{% endblock %}

{% block left_menu %}
{% comment %}
<div class="left-menu">
  {% block left_menu_content %}
    <span class="left-menu-title">Menu</span>
     <br> <a class="left-menu-item" href="{{ prefix }}/#">Home</a>
  {% endblock %}
</div>
{% endcomment %}
{% endblock %}
