{% extends "_base_lsst.html" %}{% load url from future %}

{% block page_title %}PanDA job {{ pandaid }}{% endblock %}
{% block title %} <a href="/lsst/">{{ viewParams.MON_VO }} PanDA monitor</a>{% endblock %}
{% block subtitle %}Job details for PanDA job {{ pandaid }}{% endblock %}

{% block body %}

{% if job %}
<table width="100%">
<tr>
	<th>Owner{% if job.workinggroup %} / WG{% endif %}{% if viewParams.MON_VO != 'ATLAS' %}{% if job.vo %} / VO{% endif %}{% endif %}</th>
	<th>PandaID</th>
	<th>TaskID</th>
	<th>Status</th>
	<th>Created</th>
	<th>Start</th>
	<th>End</th>
	<th>Site</th>
	<th>Priority</th>
</tr>
<tr>
	<td><a href="{% url 'lsst.views.userInfo' job.produsername|safe %}">{{ job.produsername }}</a>{% if job.workinggroup %} / {{ job.workinggroup }}{% endif %}{% if viewParams.MON_VO != 'ATLAS' %}{% if job.vo %} / {{ job.vo }} {% endif %}{% endif %}</td>
	<td>{{ job.pandaid }}</td>
	<td>{% if job.jeditaskid %}{{ job.jeditaskid }} (JEDI){% else %} <a href="{% url 'lsst.views.jobList' %}?taskid={{job.taskid}}{% if job.taskid < 1000000 %}&produsername={{job.produsername}}{% endif %}">{{ job.taskid }}</a> {% endif %}</td>
	<td class='{{job.jobstatus}}'>{{ job.jobstatus }}</td>
	<td>{{ job.creationtime|date:"Y-m-d H:i" }}</td>
	<td>{{ job.starttime|date:"m-d H:i" }}</td>
	<td>{{ job.endtime|date:"m-d H:i" }}</td>
	<td><a href="{% url 'lsst.views.siteInfo' job.computingsite  %}">{{ job.computingsite }}</a></td>
	<td>{{ job.currentpriority }}</td>
</tr>
<tr>
	<td colspan="10"><b>Job name:</b> &nbsp; {{ job.jobname }}</td>
</tr>
</table>

{% if job.jobstatus == 'activated' %} Status <b class='activated'>activated</b> indicates that the job is ready to be dispatched to a pilot at the site where it will run, {{ job.computingsite }}. {% endif %}
{% if job.jobstatus == 'running' %} Status <b class='running'>running</b> indicates that the job is running at its execution site, {{ job.computingsite }}. {% endif %}
{% if job.jobstatus == 'starting' %} Status <b class='starting'>starting</b> indicates that the job has been picked up for execution but not yet launched by a pilot on a worker node. Used in environments where pilots don't directly pick up jobs (e.g. Nordugrid). {% endif %}
{% if job.jobstatus == 'holding' %} Status <b class='holding'>holding</b> indicates that the job has completed but output validation and processing is still underway. {% endif %}
{% if job.jobstatus == 'finished' %} Status <b class='finished'>finished</b> indicates that the job has successfully completed. {% endif %}
{% if job.jobstatus == 'failed' %} Status <b class='failed'>failed</b> indicates that the job has failed at some stage. Information on where the error occurred and with what error condition can be found in the key job parameters table below. {% endif %}
{% if job.jobstatus == 'cancelled' %} Status <b class='cancelled'>cancelled</b> indicates that the job has been cancelled, either by the user or by the system. Further information may be available in the key job parameters table below. {% endif %}
{% if job.jobstatus == 'sent' %} Status <b class='sent'>sent</b> indicates that the job was sent to a pilot for execution but the pilot has not yet acknowledged receipt. If this state persists for any length of time, all is not well with the job.{% endif %}
{% if job.jobstatus == 'defined' %} Status <b class='defined'>defined</b> indicates that the job has been received but the process of assigning it for execution has not yet started. {% endif %}
{% if job.jobstatus == 'waiting' %} Status <b class='waiting'>waiting</b> indicates that data handling preparations for the job are underway and have to be completed before the job can be activated. {% endif %}

<p>

{% if logfile.lfn %}
{% if viewParams.MON_VO == 'ATLAS' %}
<p><a href="http://panda.cern.ch/?overview=viewlogfile&nocachemark=yes&guid={{logfile.guid}}&lfn={{logfile.lfn}}&site={{logfile.site}}">Find and view logfiles</a>
{% else %}
<p><a href='http://pilots1.pandawms.org/pandawms-jobcache/jobcache-{{job.pandaid}}.tar.gz'>Download the job cache tarball</a> containing the job execution scripts
<br>Download the job sandbox tarball containing the files in the job's run directory (not yet available)
{% endif %}
{% endif %}
{% if job.jobstatus == 'holding' or job.jobstatus == 'finished' or job.jobstatus == 'failed' %}
{% if stdout %}<br>View the job's &nbsp; <a href='{{stdout}}'>stdout</a>
&nbsp; <a href='{{stderr}}'>stderr</a>
&nbsp; <a href='{{stdlog}}'>batch log</a> {% endif %}
{% endif %}

{% if nfiles > 0 %}
<p><div class='section'>Job files</div>
<table>
<tr><th>Filename</th><th>Type</th><th>Size (bytes)</th><th>Status</th><th>Dataset</th><th>Attempt #</th></tr>
{% for file in files %}
<tr><td>
<font size=-1>
{% if viewParams.MON_VO == 'ATLAS' %}
<a href="http://panda.cern.ch/?overview=findfile&archive=yes&lfn={{file.lfn}}&guid={{file.guid}}">{{ file.lfn}}</a>
{% else %}
{{ file.lfn}}
{% endif %}
</font>
</td><td> {{ file.type }} </td><td> {{ file.fsize }} </td><td class='{{file.status}}'> {{ file.status }} </td><td><font size=-1> {{ file.dataset }} </font></td><td> {% if file.attemptnr %} {{ file.attemptnr }} {% endif %}</td></tr>
{% endfor %}
</table>
{% endif %}

<p><div class='section'>Other key job parameters</div>

<table>
	{% if job.transformation %}<tr><th>Payload script (transformation)</th><td>{{ job.transformation|safe }}</td></tr></tr>{% endif %}
	{% if job.attemptnr %}<tr><th>Attempt number</th><td>{{ job.attemptnr }} of a maximum {{ job.maxattempt }}</td></tr></tr>{% endif %}
	{% if job.transexitcode != '0' and job.transexitcode != 'None' %}<tr><th class="alarm">Transformation exit code</th><td class="alarm">{{ job.transexitcode }}</td></tr></tr>{% endif %}
	{% if job.parentid %}<tr><th>Parent job ID</th><td>{{ job.parentid }}</td></tr></tr>{% endif %}
	{% if job.workinggroup %}<tr><th>Working group</th><td>{{ job.workinggroup }}</td></tr></tr>{% endif %}
	{% if job.transfertype %}<tr><th>Transfer type</th><td>{{ job.transfertype }}</td></tr>{% endif %}
	{% if job.jobparameters %}<tr><th>Job parameters</th><td>{{ job.jobparameters }}</td></tr>{% endif %}
	{% if job.specialhandling %}<tr><th>Special handling</th><td>{{ job.specialhandling }}</td></tr>{% endif %}
	{% if job.nevents %}<tr><th># events</th><td>{{ job.nevents }}</td></tr>{% endif %}
	{% if job.pilotid %}<tr><th>Pilot ID</th><td>{{ job.pilotid }}</td></tr>{% endif %}
	{% if job.batchid %}<tr><th>Batch ID</th><td>{{ job.batchid }}</td></tr>{% endif %}
	{% if job.jobdispatchererrorcode %}
		<tr><th class="alarm">Job dispatch error code</th><td class="alarm">{{ job.jobdispatchererrorcode }}</td></tr>
		<tr><th class="alarm">Job dispatch error message</th><td class="alarm">{{ job.jobdispatchererrordiag }}</td></tr>
	{% endif %}
	{% if job.brokerageerrorcode %}
		<tr><th class="alarm">Brokerage error code</th><td class="alarm">{{ job.brokerageerrorcode }}</td></tr>
		<tr><th class="alarm">Brokerage error message</th><td class="alarm">{{ job.brokerageerrordiag }}</td></tr>
	{% endif %}
	{% if job.ddmerrorcode %}
		<tr><th class="alarm">DDM error code</th><td class="alarm">{{ job.ddmerrorcode }}</td></tr>
		<tr><th class="alarm">DDM error message</th><td class="alarm">{{ job.ddmerrordiag }}</td></tr>
	{% endif %}
	{% if job.exeerrorcode %}
		<tr><th class="alarm">Execution error code</th><td class="alarm">{{ job.exeerrorcode }}</td></tr>
		<tr><th class="alarm">Execution error message</th><td class="alarm">{{ job.exeerrordiag }}</td></tr>
	{% endif %}
	{% if job.piloterrorcode %}
		<tr><th class="alarm">Pilot error code</th><td class="alarm">{{ job.piloterrorcode }}</td></tr>
		<tr><th class="alarm">Pilot error message</th><td class="alarm">{{ job.piloterrordiag }}</td></tr>
	{% endif %}
	{% if job.superrorcode %}
		<tr><th class="alarm">Sup error code</th><td>{{ job.superrorcode }}</td></tr>
		<tr><th class="alarm">Sup error message</th><td>{{ job.superrordiag }}</td></tr>
	{% endif %}
	{% if job.taskbuffererrorcode %}
		<tr><th class="alarm">TaskBuffer error code</th><td class="alarm">{{ job.taskbuffererrorcode }}</td></tr>
		<tr><th class="alarm">TaskBuffer error message</th><td class="alarm">{{ job.taskbuffererrordiag }}</td></tr>
	{% endif %}
	{% if job.destinationse %}<tr><th>Output destination</th><td>{{ job.destinationse }}</td></tr>{% endif %}
	{% if job.cpuconsumptiontime %}
		<tr><th>CPU consumption time</th><td>{{ job.cpuconsumptiontime }}</td></tr>
	{% endif %}
	{% if job.jobmetrics %}<tr><th>Job metrics</th><td>{{ job.jobmetrics }}</td></tr>{% endif %}
	{% if job.proddblock %}<tr><th>Proddblock</th><td>{{ job.proddblock }}</td></tr>{% endif %}
</table>

<p><div class='section'>All job parameters</div></p>

<table>
{% for col in columns %}
<tr><th>{{ col.name }}</th><td> {{ col.value }} </td></tr>
{% endfor %}
</table>

{% else %}
    <p>Job {{ pandaid }} not found.</p>
{% endif %}

{% endblock %}

{% block left_menu %}
{% comment %}
<div class="left-menu">
  {% block left_menu_content %}
    <span class="left-menu-title">Menu</span>
     <br> <a class="left-menu-item" href="{{ prefix }}/#">Home</a>
  {% endblock %}
</div>
{% endcomment %}
{% endblock %}

