{% extends "_base_lsst.html" %}
{% load url from future %}

{% block page_title %} {{ viewParams.MON_VO }} PanDA jobs{% endblock %}
{% block title %} <a href="/lsst/">{{ viewParams.MON_VO }} PanDA monitor</a>{% endblock %}
{% block subtitle %}PanDA job list{{ viewParams.selection }}
{% if user %} &nbsp; user={{ user }} {% endif %}
{% if site %} &nbsp; site={{ site }} {% endif %}
{% if vo %} &nbsp; VO={{ vo }} {% endif %}
{% endblock %}
{% block body %}

{{ viewParams.header }}

{% if jobList %}

<table>
{% for fdict in sumd %}
<tr><th> {{ fdict.field }} </th><td>
{% for item in fdict.list %}
{% if fdict.field == 'jobstatus' %} <span class='{{item.kname}}'> {% else %} <span> {% endif %}  {{ item.kname }} </span>
<a href="{{xurl}}{{fdict.field}}={{item.kname}}">({{ item.kvalue }})</a> &nbsp; 
{% endfor %}
</td></tr>
{% endfor %}
</table>

<table>
<tr>
	<th>Owner / WG {% if viewParams.MON_VO != 'ATLAS' %} / VO{% endif %}  </th>
	<th>PanDA ID</th>
	<th>Transformation</th>
	<th>Status</th>
	<th>Created</th>
	<th>Start</th>
	<th>End</th>
	<th>{% if viewParams.MON_VO == 'ATLAS' %}Cloud/{% endif%}Site</th>
	<th>Priority</th>
	<th>Job info</th>
</tr>
    {% for job in jobList %}
	<tr>
		<td><a href="{% url 'lsst.views.userInfo' job.produsername|safe %}">{{ job.produsername }}</a>
			{% if job.workinggroup %} / <a href="{{xurl}}workinggroup={{ job.workinggroup }}">{{ job.workinggroup }}</a>{% endif %}{% if viewParams.MON_VO != 'ATLAS' %}{% if job.vo %} / {{ job.vo }}{% endif %} {% endif %}
		</td>
		<td><a href="{% url 'lsst.views.jobInfo' job.pandaid %}">{{ job.pandaid }}</a></td>
		<td><font size=-1><a href="{{xurl}}transformation={{job.transformation}}">{{ job.transformation }}</a></font></td>

		<td class='{{job.jobstatus}}'>{{ job.jobstatus }}</td>
		<td>{{ job.creationtime|date:"Y-m-d H:i" }}</td>
		<td>{{ job.starttime|date:"m-d H:i" }}</td>
		<td>{{ job.endtime|date:"m-d H:i" }}</td>
		<td><font size=-1>{% if viewParams.MON_VO == 'ATLAS' %}<a href="{{xurl}}cloud={{job.cloud}}">{{job.cloud}}</a>/{% endif %}<a href="{% url 'lsst.views.siteInfo' job.computingsite %}">{{ job.computingsite }}</a></font></td>
		<td>{{ job.currentpriority }}</td>
		<td width=200>{% if job.errorinfo != '' %}<font size=-1 class='alarm'>{{job.errorinfo|safe}}</font>{% endif %}</td>
	</tr>
    {% endfor %}
</table>
{% comment %}
    <ul>
    {% for job in jobList %}
        <li>PanDA job <a href="{% url 'lsst.views.jobInfo' job.pandaid %}">{{ job.pandaid }}</a></li>
    {% endfor %}
    </ul>
{% endcomment %}
{% else %}
    <p>No matches to query.</p>
{% endif %}
{% endblock %}

{% block bottom_info %}
{% endblock %}

{% block left_menu %}
{% comment %}
<div class="left-menu">
  {% block left_menu_content %}
    <span class="left-menu-title">Menu</span>
     <br> <a class="left-menu-item" href="{{ prefix }}/#">Home</a>
  {% endblock %}
</div>
{% endcomment %}
{% endblock %}

