{% extends "_base_lsst.html" %}
{% load url from future %}

{% block page_title %} {{ viewParams.MON_VO }} PanDA jobs{% endblock %}
{% block title %} <a href="{% url 'index' %}">{{ viewParams.MON_VO }} PanDA monitor</a>{% endblock %}
{% block subtitle %}PanDA jobs<font size=-1>{{ viewParams.selection }}</font>
{% if user %} &nbsp; user={{ user }} {% endif %}
{% if site %} &nbsp; site={{ site }} {% endif %}
{% if vo %} &nbsp; VO={{ vo }} {% endif %}
{% endblock %}
{% block body %}

{{ viewParams.header }}

<b>{{ njobs }} jobs selected</b>

{% if requestParams.workinggroup %}<br><b>Working group: {{ requestParams.workinggroup }}</b> {% endif %}
{% if requestParams.jobtype %}<br><b>Job type: {{ requestParams.jobtype }}</b> {% endif %}
{% if requestParams.cloud %}<br><b>Cloud: {{ requestParams.cloud }}</b> {% endif %}
{% if requestParams.computingsite %}<br><b>Site: <a href="{% url 'siteInfo' requestParams.computingsite %}">{{ requestParams.computingsite }}</a> &nbsp; <a href="{% url 'siteInfo' requestParams.computingsite %}">Show site information page</a></b> {% endif %}
{% if requestParams.produsername %}<br><b>User: <a href="{% url 'userInfo' requestParams.produsername %}?display_limit=100">{{ requestParams.produsername }}</a> &nbsp; <a href="{% url 'userInfo' requestParams.produsername %}?display_limit=100">Show user page</a></b> {% endif %}
{% if requestParams.jeditaskid and requestParams.jeditaskid != 'None' %}<br><b>Task ID: <a href="{% url 'taskInfo' requestParams.jeditaskid  %}">{{ requestParams.jeditaskid }}</a> &nbsp; <a href="{% url 'taskInfo' requestParams.jeditaskid  %}">Show task information page</a></b> {% endif %}
{% if requestParams.taskid and requestParams.taskid != 'None' %}<br><b>Task ID: {{ requestParams.taskid }}</b> {% endif %}
{% if requestParams.jobsetid %}<br><b>Jobset ID: {{ requestParams.jobsetid }}</b> {% endif %}
{% if requestParams.jobname %}<br><b>Job name: {{ requestParams.jobname }}</b> {% endif %}
<p>

{% if jobList %}
<p>Job modification times in this listing range from {{ tfirst }} to {{ tlast }}
<br>Job current priorities in this listing range from {{ plow }} to {{ phigh }}
{% endif %}

{% if ndrops > 0 %}
<table width=900><tr><td>
<b>{{ ndrops }} jobs were dropped from this listing because they were retried. Where there were retries, the latest retry job (only) is listed. </b>
<font size=-1>
<br>Dropped (retry):<br>
{% for drop in droplist %}
<a href="{% url 'jobInfo' drop.pandaid %}">{{ drop.pandaid }}</a>&nbsp;(<a href="{% url 'jobInfo' drop.newpandaid %}">{{ drop.newpandaid }}</a>) &nbsp;
{% endfor %}
</font>
</tr></td></table>
<p>
{% endif %}

{% if jobList %}

<div class="section"> Job attribute summary   &nbsp; Sort by {% if requestParams.sortby == 'count' %} count, <a href="{{nosorturl}}">alpha</a> {% else %} <a href="{{nosorturl}}sortby=count">count</a>, alpha {% endif %}</div>

<table>
{% for fdict in sumd %}
<tr><th> {{ fdict.field }} ({{ fdict.list|length }})</th><td>
{% for item in fdict.list %}
{% if fdict.field == 'jobstatus' %} <span class='{{item.kname}}'> {% else %} <span> {% endif %}  {{ item.kname }} </span>
<a href="{{xurl}}{{fdict.field}}={{item.kname}}">({{ item.kvalue }})</a> &nbsp; 
{% endfor %}
</td></tr>
{% endfor %}
</table>

<div class="section"><a name="joblist"></a> Job list </div>
{% if display_limit  and display_limit < njobs %}
Only the most recent {{ display_limit }} jobs (sorted by PandaID) are shown.
<br>Remove the limit and sort by 
<a href="{{nosorturl}}">PandaID</a>, 
{% else %}
Sort by 
{% if sortby == "PandaID" %}
<b>PandaID</b>,
{% else %}
<a href="{{nosorturl}}">PandaID</a>, 
{% endif %}
{% endif %}

{% if sortby == "time-ascending" %}
<b>ascending mod time</b>, <a href="{{nosorturl}}sortby=time-descending">descending mod time</a>, <a href="{{nosorturl}}sortby=priority">priority</a>, <a href="{{nosorturl}}sortby=attemptnr">attemptnr</a>
{% elif sortby == "time-descending" %}
<a href="{{nosorturl}}sortby=time-ascending">ascending mod time</a>, <b>descending mod time</b>, <a href="{{nosorturl}}sortby=priority">priority</a>, <a href="{{nosorturl}}sortby=attemptnr">attemptnr</a>
{% elif sortby == "priority" %}
<a href="{{nosorturl}}sortby=time-ascending">ascending mod time</a>, <a href="{{nosorturl}}sortby=time-descending">descending mod time</a>, <b>priority</b>, <a href="{{nosorturl}}sortby=attemptnr">attemptnr</a>
{% elif sortby == "attemptnr" %}
<a href="{{nosorturl}}sortby=time-ascending">ascending mod time</a>, <a href="{{nosorturl}}sortby=time-descending">descending mod time</a>, <a href="{{nosorturl}}sortby=priority">priority</a>, <b>attemptnr</b>
{% else %}
<a href="{{nosorturl}}sortby=time-ascending">ascending mod time</a>, <a href="{{nosorturl}}sortby=time-descending">descending mod time</a>, <a href="{{nosorturl}}sortby=priority">priority</a>, <a href="{{nosorturl}}sortby=attemptnr">attemptnr</a>
{% endif %}
<p>

<table>
<tr>
	<th>PanDA ID<br>Attempt#</th>
	<th>Owner {% if viewParams.MON_VO != 'ATLAS' %} / VO{% endif %}<br>Group  </th>
	<th>Task ID</th>
	<th>Transformation</th>
	<th>Status</th>
	<th>Created</th>
	<th>Start</th>
	<th>End</th>
	<th>Mod</th>
	<th>{% if viewParams.MON_VO == 'ATLAS' %}Cloud {% endif%}Site</th>
	<th>Priority</th>
	<th>Job info</th>
</tr>
    {% for job in jobList %}
	<tr>
		<td rowspan=2><a href="{% url 'jobInfo' %}?pandaid={{ job.pandaid }}">{{ job.pandaid }}</a><br>Attempt {{ job.attemptnr }}</td>
		<td><a href="{% url 'userInfo' job.produsername|safe %}?display_limit=100">{{ job.produsername }}</a>{% if job.workinggroup %}<br><a href="{{xurl}}workinggroup={{ job.workinggroup }}">{{ job.workinggroup }}</a>{% endif %}{% if viewParams.MON_VO != 'ATLAS' %}{% if job.vo %} / {{ job.vo }}{% endif %} {% endif %}
		</td>
		<td>{% if job.jeditaskid  and job.jeditaskid != 'None' %}<a href="{{xurl}}jeditaskid={{job.jeditaskid}}">{{ job.jeditaskid }}</a> {% elif job.taskid and job.taskid != 'None' %} <a href="{% url 'jobList' %}?taskid={{job.taskid}}{% if job.taskid < 1000000 %}&produsername={{job.produsername}}{% endif %}&display_limit=100">{{ job.taskid }}</a> {% endif %}</td>
		<td><font size=-1><a href="{{xurl}}transformation={{job.transformation}}">{{ job.transformation }}</a></font></td>

		<td class='{{job.jobstatus}}'>{{ job.jobstatus }}</td>
		<td><font size=-1>{{ job.creationtime|date:"Y-m-d H:i" }}</font></td>
		<td><font size=-1>{{ job.starttime|date:"m-d H:i" }}</font></td>
		<td><font size=-1>{{ job.endtime|date:"m-d H:i" }}</font></td>
		<td><font size=-1>{{ job.modificationtime|date:"m-d H:i" }}</font></td>
		<td><font size=-1>{% if viewParams.MON_VO == 'ATLAS' %}<a href="{{xurl}}cloud={{job.cloud}}">{{job.cloud}}</a> {% endif %}<a href="{% url 'siteInfo' job.computingsite %}">{{ job.computingsite }}</a></font></td>
		<td>{{ job.currentpriority }}</td>
		<td width=250>{% if job.jobinfo != '' %}<font size=-1>{{job.jobinfo|safe}}</font><br>{% endif %}
		{% if job.errorinfo != '' %}<font size=-1 class='alarm'>{{job.errorinfo|safe}}</font>{% endif %}
		</td>
	<tr><td colspan=11> <font size=-1>Job name: {{ job.jobname }}</font> &nbsp; #{{ job.attemptnr }} </td></tr>
	</tr>
    {% endfor %}
</table>

{% else %}

    <p>No matches to query.</p>

{% endif %}

{% endblock %}

{% block bottom_info %}
{% endblock %}

{% block left_menu %}
{% comment %}
<div class="left-menu">
  {% block left_menu_content %}
    <span class="left-menu-title">Menu</span>
     <br> <a class="left-menu-item" href="{{ prefix }}/#">Home</a>
  {% endblock %}
</div>
{% endcomment %}
{% endblock %}

