{% extends "_base_lsst.html" %}{% load url from future %}

{% block page_title %} {{ viewParams.MON_VO }} PanDA{% endblock %}
{% block title %} {{ viewParams.MON_VO }} PanDA monitor{% endblock %}
{% block subtitle %}{{ viewParams.MON_VO }} PanDA monitor home page{% endblock %}

{% block bottom_info %}

{% if requestParams|length == 0 %}

{% if viewParams.MON_VO == 'ATLAS' %}

<table border='0'>
<tr>

<td width='30%' height='365' class="hide-for-small">
<!-- Day: -->
<a target='_blank' href='http://dashb-atlas-job.cern.ch/dashboard/request.py/jobnumbers_individual?sites=All+Sites&sitesCat=All+Countries&resourcetype=All&activities=Data+Processing&activities=Extra+Production&activities=Group+Production&activities=MC+Reconstruction&activities=MC+Simulation&activities=Others&sitesSort=0&sitesCatSort=0&start=null&end=null&timeRange=last24&granularity=Hourly&generic=3&sortBy=3&series=All&type=rmulticores'>
<img width='447' height='363' src='http://dashb-atlas-job.cern.ch/dashboard/request.py/jobnumbers_individual?sites=All+Sites&sitesCat=All+Countries&resourcetype=All&activities=Data+Processing&activities=Extra+Production&activities=Group+Production&activities=MC+Reconstruction&activities=MC+Simulation&activities=Others&sitesSort=0&sitesCatSort=0&start=null&end=null&timeRange=last24&granularity=Hourly&generic=3&sortBy=3&series=All&type=rmulticores' alt='Daily World Production Queues'></a>
</td>
<td width='30%' height='365'>
<!-- Week -->
<a target='_blank' href='http://dashb-atlas-job.cern.ch/dashboard/request.py/jobnumbers_individual?sites=All+Sites&sitesCat=All+Countries&resourcetype=All&activities=Data+Processing&activities=Extra+Production&activities=Group+Production&activities=MC+Reconstruction&activities=MC+Simulation&activities=Others&sitesSort=0&sitesCatSort=0&start=null&end=null&timeRange=lastWeek&granularity=Daily&generic=3&sortBy=3&series=All&type=rmulticores'>
<img width='447' height='363' src='http://dashb-atlas-job.cern.ch/dashboard/request.py/jobnumbers_individual?sites=All+Sites&sitesCat=All+Countries&resourcetype=All&activities=Data+Processing&activities=Extra+Production&activities=Group+Production&activities=MC+Reconstruction&activities=MC+Simulation&activities=Others&sitesSort=0&sitesCatSort=0&start=null&end=null&timeRange=lastWeek&granularity=Daily&generic=3&sortBy=3&series=All&type=rmulticores' alt='Weekly World Production Queues'></a>
</td>
<td width='30%' height='365'  class="hide-for-small">
<!-- Month -->
<a target='_blank' href='http://dashb-atlas-job.cern.ch/dashboard/request.py/jobnumbers_individual?sites=All+Sites&sitesCat=All+Countries&resourcetype=All&activities=Data+Processing&activities=Extra+Production&activities=Group+Production&activities=MC+Reconstruction&activities=MC+Simulation&activities=Others&sitesSort=0&sitesCatSort=0&start=null&end=null&timeRange=lastMonth&granularity=Daily&generic=3&sortBy=3&series=All&type=rmulticores'>
<img width='447' height='363' src='http://dashb-atlas-job.cern.ch/dashboard/request.py/jobnumbers_individual?sites=All+Sites&sitesCat=All+Countries&resourcetype=All&activities=Data+Processing&activities=Extra+Production&activities=Group+Production&activities=MC+Reconstruction&activities=MC+Simulation&activities=Others&sitesSort=0&sitesCatSort=0&start=null&end=null&timeRange=lastMonth&granularity=Daily&generic=3&sortBy=3&series=All&type=rmulticores' alt='Monthly World Production Queues'></a>
</td>
</tr>
</table>

{% comment %}

<div class='section'>ATLAS PanDA processing overview from 
<a href="http://grid.triumf.ca/">TRIUMF</a>
<a href="http://panglia.triumf.ca">Panglia</a>. 
Panglia has <a href="http://panglia.triumf.ca/world/generator.php">world</a>, 
<a href="http://panglia.triumf.ca/cloud/generator.php">cloud</a>,
<a href="http://panglia.triumf.ca/site/generator.php">site</a>
plot generators
</div>

<table border='0'>
<tr>
<td><a target='_blank' href='http://panglia.triumf.ca/world/graph.php?TIME=day&amp;SSTATE=running&amp;VIEW=bysstate&amp;QUEUE=production&amp;SIZE=large'>
<img width='100%' src='http://panglia.triumf.ca/world/graph.php?TIME=day&amp;SSTATE=running&amp;VIEW=bysstate&amp;QUEUE=production&amp;SIZE=medium'
alt='Daily World Production Queues'></a>
</td>
<td><a target='_blank' href='http://panglia.triumf.ca/world/graph.php?TIME=day&amp;SSTATE=running&amp;VIEW=bysstate&amp;QUEUE=analysis&amp;SIZE=large'>
<img width='100%' src='http://panglia.triumf.ca/world/graph.php?TIME=day&amp;SSTATE=running&amp;VIEW=bysstate&amp;QUEUE=analysis&amp;SIZE=medium'
alt='Daily World Analysis Queues'></a>
</td>
<td><a target='_blank' href='http://panglia.triumf.ca/world/graph.php?TIME=day&amp;SSTATE=running&amp;VIEW=bysstate&amp;QUEUE=combined&amp;SIZE=large'>
<img width='100%' src='http://panglia.triumf.ca/world/graph.php?TIME=day&amp;SSTATE=running&amp;VIEW=bysstate&amp;QUEUE=combined&amp;SIZE=medium'
alt='Daily World Production and Analysis Queues (combined)'></a>
</td>
</tr>
</table>

{% endcomment %}

{% else %}

<p>
Welcome to the {{ viewParams.MON_VO }} PanDA monitor.
Select what you'd like to have a look at in the top menu bar: dashboard overview; job and task lists; error summaries; user lists and pages; site, cloud and WN information; etc.

{% endif %}

{% endif %}
<p>

<div style="float: left; padding: 3px; ">
<table  class='invisibletable'>
<tr  class='invisibletable'><th colspan=10  class='highlightcell'> Search </th></tr>
<tr>
<td><form action="{% url 'jobInfo' %}" method='get'>
PanDA job ID or name</td><td><font size=-1> <input id="pandaid" name="pandaid" size="25" maxlength="200" class="inputW" />&nbsp;<input type='submit' value='Submit' /></form></font></td></tr>

<tr><td><form action="{% url 'jobInfo' %}" method='get'>
Batch ID</td><td><font size=-1> <input id="batchid" name="batchid" size="25" maxlength="200" class="inputW" />&nbsp;<input type='submit' value='Submit' /></form></font></td></tr>

<tr><td><form action="{% url 'taskInfo' %}?" method='get'>
Task ID </td><td><font size=-1><input id="jeditaskid" name="jeditaskid" size="25" maxlength="15" class="inputW" /><input type='hidden' name="display_limit" readonly="readonly" value=200 />&nbsp;<input type='submit' value='Submit' /></form></font></td></tr>

<tr><td><form action="{% url 'taskInfo' %}" method='get'>
Task name </td><td><font size=-1><input id="taskname" name="taskname" size="25" maxlength="400" class="inputW" /><input type='hidden' name="display_limit" readonly="readonly" value=200 />&nbsp;<input type='submit' value='Submit' /></form></font></td></tr>

<tr><td><form action="{% url 'taskList' %}" method='post'>
{% csrf_token %}
Tasks for campaign </td><td><font size=-1><input id="campaign" name="campaign" size="25" maxlength="400" class="inputW" /><input type='hidden' name="display_limit" readonly="readonly" value=200 /><input type='hidden' name="tasktype" readonly="readonly" value="prod" />&nbsp;<input type='submit' value='Submit' /></form></font></td></tr>

<tr><td><form action="{% url 'taskList' %}" method='post'>
{% csrf_token %}
Tasks for project </td><td><font size=-1><input id="project" name="project" size="25" maxlength="400" class="inputW" /><input type='hidden' name="display_limit" readonly="readonly" value=200 /><input type='hidden' name="tasktype" readonly="readonly" value="prod" />&nbsp;<input type='submit' value='Submit' /></form></font></td></tr>

<tr><td><form action="{% url 'taskList' %}" method='post'>
{% csrf_token %}
Tasks for tag </td><td><font size=-1><input id="tag" name="tag" size="25" maxlength="400" class="inputW" /><input type='hidden' name="display_limit" readonly="readonly" value=200 /><input type='hidden' name="tasktype" readonly="readonly" value="prod" />&nbsp;<input type='submit' value='Submit' /></form></font></td></tr>

<tr><td><form action="{% url 'taskList' %}" method='post'>
{% csrf_token %}
Tasks for stream </td><td><font size=-1><input id="stream" name="stream" size="25" maxlength="400" class="inputW" /><input type='hidden' name="display_limit" readonly="readonly" value=200 /><input type='hidden' name="tasktype" readonly="readonly" value="prod" />&nbsp;<input type='submit' value='Submit' /></form></font></td></tr>


<tr><td><form action="{% url 'siteInfo' %}" method='get'>
Site </td><td><font size=-1><input id="site" name="site" size="25" maxlength="50" class="inputW" />&nbsp;<input type='submit' value='Submit' /></form></font></td></tr>

<tr><td><form action="{% url 'userInfo' %}" method='get'>
User </td><td><font size=-1><input id="user" name="user" size="25" maxlength="50" class="inputW" /><input type='hidden' name="display_limit" readonly="readonly" value=200 />&nbsp;<input type='submit' value='Submit' /></form></font></td></tr>

<tr><td><form action="{% url 'datasetInfo' %}" method='get'>
Dataset </td><td><font size=-1><input id="datasetname" name="datasetname" size="25" maxlength="300" class="inputW" /><input type='hidden' name="display_limit" readonly="readonly" value=200 />&nbsp;<input type='submit' value='Submit' /></form></font></td></tr>

<tr><td><form action="{% url 'fileInfo' %}" method='get'>
File </td><td><font size=-1><input id="filename" name="filename" size="25" maxlength="300" class="inputW" />&nbsp;<input type='submit' value='Submit' /></form></font></td></tr>

<tr><td><form action="{% url 'jobList' %}" method='get'>
Stalled jobs </td><td> in 
<select name="jobstatus" class="input8">
    <option value="defined"><span class="defined">defined</span></option>
    <option value="waiting"><span class="waiting">waiting</span></option>
    <option value="assigned"><span class="assigned">assigned</span></option>
    <option value="activated"><span class="activated">activated</span></option>
    <option value="starting"><span class="starting">starting</span></option>
    <option value="running"><span class="running">running</span></option>
    <option value="holding"><span class="holding">holding</span></option>
    <option value="transferring"><span class="transferring">transferring</span></option>
</select>
for over <font size=-1><input id="statenotupdated" name="statenotupdated" class="inputN" /> hours &nbsp; <input type='hidden' name="display_limit" readonly="readonly" value=200 /><input type='submit' value='Submit' /></form></font></td></tr>

<tr><td><form action="{% url 'taskList' %}" method='get'>
Stalled tasks </td><td> in 
<select name="status" class="input8">
    <option value="defined"><span class="defined">defined</span></option>
    <option value="waiting"><span class="waiting">waiting</span></option>
    <option value="assigning"><span class="assigning">assigning</span></option>
    <option value="submitting"><span class="submitting">submitting</span></option>
    <option value="pending"><span class="pending">pending</span></option>
    <option value="running"><span class="running">running</span></option>
    <option value="scouting"><span class="scouting">scouting</span></option>
</select>
for over <font size=-1><input id="statenotupdated" name="statenotupdated" class="inputN" /> hours &nbsp; <input type='hidden' name="display_limit" readonly="readonly" value=300 /><input type='submit' value='Submit' /></form></font></td></tr>

</table>
</div>

{% if requestParams|length == 0 %}

<div style="float: left;  padding: 3px; ">
<table><tr><th class='highlightcell'> News </th></tr>
<td>
<div style="width:500px;height:100%;overflow:auto;word-wrap: break-word">
<ul style="font-size:small">
<!-- most recent at the top -->
<li class="news">20140816: Cache lifetime 3min for all pages, documented in footer. Report issues
<li class="news">20140816: <span class="helpdark">Restructured help with <a href="/help">consolidated help page</a></span>
<li class="news">20140815: Show prodsys1 tasknames in error summary
<li class="news">20140814: Task summaries (huge and slow) removed from non-task dashboards
<li class="news">20140814: Task state names in task list, detail pages link to state doc
<li class="news">20140814: Task list in user pages brought up to date, with input completion
<li class="news">20140814: Wildcarding implemented for taskname in task lists
<li class="news">20140813: Works on mobile. Still tuning to do. Report bad issues please.
<li class="news">20140813: Add task searches for campaign, project, stream, tag
<li class="news">20140813: Add project, stream and tag summary info to task lists
<li class="news">20140813: Auto redirect pre-JEDI task detail pages to old monitor
<li class="news">20140813: Show in, out datasets on user pages and job lists
<li class="news">20140813: Fill state colors in dashboard task, job summary tables
<li class="news">20140813: Filled color in the status cells for job and task pages
<li class="news">20140812: Campaign added to task list and detail pages
<li class="news">20140812: Task pages use new DEFT-friendly 'superstatus'. See task page help.
<li class="news">20140812: Stalled task search added
<li class="news">20140812: Improved job listings on user pages (matching job lists)
<li class="news">20140801: Job name links in job lists
<li class="news">20140801: Finished/failed job counts and %failed added to task error summary
<li class="news">20140801: Dashboards for task-based analysis, production job summaries
<li class="news">20140801: Finished/failed job counts and %failed added to site error summary
<li class="news">20140731: Task names in error summary (for JEDI; old tasks need DB fix)
<li class="news">20140730: Json output for job lists added. See job list page green doc.
<li class="news">20140730: Pilot counts (last 3 hours) added to regional dashboard
<li class="news">20140730: Defined, waiting states added to dashboards
<li class="news">20140730: Panglia plot popups for clouds and sites added to dashboards
<li class="news">20140730: Switch front-page plots to ones that take multicore into account
<li class="news">20140711: Add error interpretation from the ErrorCodes.py descriptions
<li class="news">20140710: JEDI action log added to task detail page
<li class="news">20140709: Site job listings and WN info pages changed to 12hr default
<li class="news">20140709: Computingsite wildcards in error summary. See error page help.
<li class="news">20140709: Direct navigation to clouds in Sites menu
<li class="news">20140708: %fail numbers on dashboard and task list link to error summary
<li class="news">20140708: Stalled jobs search added
<li class="news">20140708: Show jobs transferring &gt;36hrs, by cloud, in prod dash
<li class="news">20140707: Task page sorting added
<li class="news">20140704: Links to <a href="https://twiki.cern.ch/twiki/bin/view/PanDA/PandaJediAnalysis">new documentation on JEDI for analysis</a>
<li class="news">20140703: Metadata added to job pages
<li class="news">20140702: Added contextual help framework
<li class="news">20140702: Improved file info for JEDI's more complex file processing
<li class="news">20140701: Added working group task summary to WG dashboard
<li class="news">20140701: Added inline dataset list, job parameters to task detail page
<li class="news">20140630: Show input file counts (Nfiles, Nfinished, Nfailed) for tasks to indicate progress
<li class="news">20140630: Ticket specs retrieved from JEDI task table (not taskparams) for better performance
<li class="news">20140626: Task status labelled as JEDI task status in list and detail views, for clarity. Prodsys/DEFT/JEDI state documentation linked from task detail pages.
<li class="news">20140626: JIRA ticket links added to task list and detail pages
<li class="news">20140626: JEDI log information added to task list and detail pages
<li class="news">20140624: Priority ranges added to job attribute summaries to show how priorities are apportioned and allow drill-down
<li class="news">20140624: Jobset ranges added to job attribute summaries to de-clutter listings with many jobsets
<li class="news">20140623: Debug mode supported in job detail pages (—debugMode option on analysis jobs; for production use see <a href="https://twiki.cern.ch/twiki/bin/view/PanDA/PandaShiftGuide#How_to_use_debug_mode">here</a>)
<li class="news">20140622: Show time to start, duration instead of start time, end time
<li class="news">20140621: JEDI dataset, file, file list pages added, linked from job detail pages, quick search etc.
<li class="news">20140620: JEDI work queue added under Sites menu
<li class="news">20140620: Event service job, task listings added
<li class="news">20140617: Expanded sorting support
<li class="news">20140617: Show multi-cloud production sites associated with clouds
<li class="news">20140616: PanDA logger added
<li class="news">20140611: Throttled state supported
<li class="news">20140610: Working group dashboard added, summarizing job status by WG
</ul>
</div>
</td></tr></table>
</div>

{% endif %}

{% endblock %}

{% block helptext %}

{% if requestParams|length == 0 %}
{% include "mainHelp.html" with helptitle="PanDA Monitor Overview" %}
{% endif %}

{% include "searchHelp.html" with helptitle="Searches" %}

{% endblock %}

