{% extends "_base_lsst.html" %}
{% load url from future %}

{% block page_title %} {{ viewParams.MON_VO }} PanDA logger{% endblock %}
{% block title %} <a href="{% url 'index' %}">{{ viewParams.MON_VO }} PanDA monitor</a>{% endblock %}
{% block subtitle %}PanDA logger{{ viewParams.selection|safe }}
{% if user %} &nbsp; user={{ user }} {% endif %}
{% if site %} &nbsp; site={{ site }} {% endif %}
{% if vo %} &nbsp; VO={{ vo }} {% endif %}
{% endblock %}
{% block body %}

{{ viewParams.header }}

<b>{{ ninc }} logger entries</b>
{% if requestParams.category %} <br><b>Log category: {{ requestParams.category }}</b> {% endif %}
{% if requestParams.type %} <br><b>Log type: {{ requestParams.type }}</b> {% endif %}
{% if requestParams.level %} <br><b>Log level: <span class="{{ requestParams.level }}">{{ requestParams.level }}</span></b> {% endif %}
{% if requestParams.taskid %} <br><b>Task ID: <a href="{% url 'taskInfo' requestParams.taskid %}">{{ requestParams.taskid }}</a></b> {% endif %}
{% if requestParams.site %} <br><b>Site: <a href="{% url 'siteInfo' requestParams.site %}">{{ requestParams.site }}</a></b> {% endif %}
{% if requestParams.cloud %}<br><b>Cloud: {{ requestParams.cloud }}</b> {% endif %}

<p>
{% if requestParams|length == 0 %}
<p><b>Recent <a href="{% url 'pandaLogger' %}?level=error"><span class="error">errors</span></a>, <a href="{% url 'pandaLogger' %}?level=warning"><span class="warning">warnings</span></a></b>
{% endif %}

<p>
{% if logl %}
<table>
{% for rec in logl %}
{% for type in rec.types %}
<tr bgcolor="#FCFCFC"><th> <a href="{% url 'pandaLogger' %}?category={{rec.name}}&limit=2000">{{ rec.name }}</a> </th><td> <a href="{% url 'pandaLogger' %}?category={{rec.name}}&type={{type.name}}&limit=2000">{{ type.name }}</a> </td><td>
{% for level in type.levellist %}
<a href="{% url 'pandaLogger' %}?category={{rec.name}}&type={{type.name}}&level={{level.name}}&limit=2000"><span class="{{ level.name }}">{{ level.name }}</span>({{ level.count }})</a> &nbsp; 
{% endfor %}
</td></tr>
{% endfor %}
<tr height=20></tr>
{% endfor %}
</table>
{% endif %}
<p>

{% if records %}

{% if logHist %}

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Time', 'Count'],
{% for time, count in logHist %}
          ['{{ time|date:"m-d H:i" }}', {{ count }}],
{% endfor %}
            ])
        var options = {
          title: 'Log timeline, latest {{ records|length }} logs',
          legend: { position: 'none' },
          hAxis: {title: 'Time (30min bins, empty bins suppressed)'}
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
    <div id="chart_div" style="height: 500px;"></div>

{% endif %}

<div class='section'>Latest {{ records|length }} log records</div>

<table>
<tr><th>Logged at</th><th>Category</th><th>Type</th><th>Level</th><th>Log message</th></tr>
{% for inc in records %}
<tr><td> {{ inc.bintime|date:"Y-m-d H:i" }} </td>
<td> {{ inc.name }}</td>
<td> {{ inc.type }}</td>
<td> <span class="{{inc.levelname}}">{{ inc.levelname }}</span></td>
<td><font size=-1> {% if inc.loguser != '' %} <i>Logged by {{ inc.loguser }}:</i> &nbsp; {% endif %} {% if inc.pid > 0 %} PandaID={{ inc.pid }} &nbsp; {% endif %} {{ inc.message|safe }}</font></td>
</tr>
{% endfor %}
</table>

{% endif %}

{% endblock %}

{% block helptext %}

The PanDA logger service, based on the <a href="https://docs.python.org/2/library/logging.html">python logging module</a>, is used by PanDA services to log alarms, incidents, errors etc. Click the counts to see logged incident listings and timeline plots. For info on how you can make use of the PanDA logger contact <a href="mailto:atlas-adc-pandamon-support@cern.ch">PanDA monitor support</a>.

{% endblock %}
