<tr class="docsection"><th><a name="pandaLogger"></a> {{ helptitle }} </th></tr>
<tr><td class="doctextlight">

<p>
The PanDA logger service, based on the <a href="https://docs.python.org/2/library/logging.html">python logging module</a>, is used by PanDA services to log alarms, incidents, errors etc. Click the counts to see logged incident listings and timeline plots. For info on how you can make use of the PanDA logger contact <a href="mailto:atlas-adc-pandamon-support@cern.ch">PanDA monitor support</a>.
</p>

</td>
