{% extends "_base_lsst.html" %}
{% load url from future %}

{% block page_title %} {{ viewParams.MON_VO }} PanDA logger{% endblock %}
{% block title %} <a href="{% url 'index' %}">{{ viewParams.MON_VO }} PanDA monitor</a>{% endblock %}
{% block subtitle %}PanDA logger{{ viewParams.selection }}
{% if user %} &nbsp; user={{ user }} {% endif %}
{% if site %} &nbsp; site={{ site }} {% endif %}
{% if vo %} &nbsp; VO={{ vo }} {% endif %}
{% endblock %}
{% block body %}

{{ viewParams.header }}

<b>{{ ninc }} log entries</b>
<p><b>Recent <a href="{% url 'pandaLogger' %}?level=error"><span class="error">errors</span></a>, <a href="{% url 'pandaLogger' %}?level=warning"><span class="warning">warnings</span></a></b>

{% if requestParams.site %}<br><b>Site: <a href="{% url 'incidentList' %}?site={{ requestParams.site }}">{{ requestParams.site }}</a></b> {% endif %}
{% if requestParams.cloud %}<br><b>Cloud: {{ requestParams.cloud }}</b> {% endif %}

{% if incHist %}

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Time', 'Count'],
{% for time, count in incHist %}
          ['{{ time|date:"m-d H:i" }}', {{ count }}],
{% endfor %}
            ])
        var options = {
          title: 'Incident timeline',
          legend: { position: 'none' },
          hAxis: {title: 'Time (30min bins, empty bins suppressed)'}
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
    <div id="chart_div" style="height: 500px;"></div>

{% endif %}

<p>
{% if logl %}
<table>
{% for rec in logl %}
{% for type in rec.types %}
<tr bgcolor="#FCFCFC"><th> <a href="{% url 'pandaLogger' %}?category={{rec.name}}">{{ rec.name }}</a> </th><td> <a href="{% url 'pandaLogger' %}?category={{rec.name}}&type={{type.name}}">{{ type.name }}</a> </td><td>
{% for level in type.levellist %}
<a href="{% url 'pandaLogger' %}?category={{rec.name}}&type={{type.name}}&level={{level.name}}"><span class="{{ level.name }}">{{ level.name }}</span>({{ level.count }})</a> &nbsp; 
{% endfor %}
</td></tr>
{% endfor %}
<tr height=10></tr>
{% endfor %}
</table>
{% endif %}
<p>

{% if records %}

<div class='section'>Logger records</div>

<table>
{% for inc in records %}
<tr><td> {{ inc.bintime|date:"Y-m-d H:i" }} </td>
<td> {{ inc.name }}</td>
<td> {{ inc.type }}</td>
<td> <span class="{{inc.levelname}}">{{ inc.levelname }}</span></td>
<td> {{ inc.message|safe }}</td>
</tr>
{% endfor %}
</table>

{% endif %}

{% endblock %}

{% block bottom_info %}
{% endblock %}

{% block left_menu %}
{% comment %}
<div class="left-menu">
  {% block left_menu_content %}
    <span class="left-menu-title">Menu</span>
     <br> <a class="left-menu-item" href="{{ prefix }}/#">Home</a>
  {% endblock %}
</div>
{% endcomment %}
{% endblock %}

