{% extends "_base_lsst.html" %}{% load url from future %}

{% block page_title %} {{ viewParams.MON_VO }} PanDA {% if viewParams.MON_VO == 'ATLAS' %}
 resource {% else %} site {% endif %} {{ site.siteid }} {% endblock %}
{% block title %} <a href="{% url 'index' %}">{{ viewParams.MON_VO }} PanDA monitor</a>{% endblock %}
{% block subtitle %}PanDA {% if viewParams.MON_VO == 'ATLAS' %}
 resource {% else %} site {% endif %} {{ site.siteid }}{% endblock %}

{% block body %}

{% if site %}

<table>
<tr class='tablesection'><th colspan=20> {{ site.siteid }} information </th></tr>
{% for att in attrs %}
<tr><th>
{{ att.name }}
</th><td>
<span {% if att.name == 'Status' %} class='{{att.value}}' {% endif %}>
{% if att.name == 'GOC name' %} <a href="{% url 'siteList' %}?gocname={{ att.value }}">{{ att.value }}</a>
{% else %}
{% if att.value != 'None' %} {{ att.value }} {% endif %}
{% endif %}
</span>
</td></tr>
{% endfor %}
</table>

{% if queues %}

<table>
<tr class='tablesection'><th colspan=20> All queues for {{ site.siteid }} </th></tr>
<tr class='tablesection'>
<th> Queue </th>
<th> Status </th>
<th> Last modified </th>
<th> Comment </th>
</tr>

{% for queue in queues %}
<tr>
<td> {{ queue.nickname }} </td><td> <span class='{{ queue.status }}'>{{ queue.status }}</span> </td>
<td> {{ queue.lastmod|date:"Y-m-d H:i" }} </td> <td> {{ queue.comment_field }} </td>
</tr>
{% endfor %}
</table>
{% endif %}


<table><tr>
<th class='tablesection'> View: </th>
<td>
<a href="{% url 'wnInfo' site.siteid %}">worker nodes</a>
</td>
<td>
<a href="{% url 'jobList' %}?computingsite={{site.siteid}}&display_limit=100">jobs</a>, <a href="{% url 'errorSummary' %}?computingsite={{site.siteid}}">job errors</a>
</td>
<td>
<a href="{% url 'pandaLogger' %}?category=panda.mon.prod&type=brokerage&site={{ site.siteid }}&hours=12">brokerage actions</a>
</td>
{% if site.nickname %}
<td>
<a href="http://apfmon.lancs.ac.uk/q/{{site.nickname}}">pilots</a>
</td>
{% endif %}

{% if viewParams.MON_VO == 'ATLAS' %}
<td>
<a href="http://dashb-atlas-ssb.cern.ch/dashboard/request.py/sitehistory?site={{site.gocname}}#currentView=Shifter+view">Site status board</a>
</td>

<td>
<a href="https://atlas-logbook.cern.ch/elog/ATLAS+Computer+Operations+Logbook/?mode=full&reverse=0&reverse=1&npp=20&Subject={{site.gocname}}">elogs</a>
</td>

<td>
DDM 
<a href="http://dashb-atlas-data.cern.ch/ddm2/#src.cloud=(%22{{site.cloud}}%22)&src.site=(%22{{site.gocname}}%22)&grouping.src=(cloud,site,token)">source</a>

<a href="http://dashb-atlas-data.cern.ch/ddm2/#dst.cloud=(%22{{site.cloud}}%22)&dst.site=(%22{{site.gocname}}%22)&grouping.dst=(cloud,site,token)">destination</a>
</td>

{% endif %}

</tr></table>

{% if incidents %}

<table>
<tr class='tablesection'><th colspan=20> Incidents over the last month </th></tr>
{% for inc in incidents %}
<tr><td> {{ inc.at_time|date:"Y-m-d H:i" }} </td>
<td> <font size=-1>{{ inc.description|safe }}</font> </td>
{% endfor %}
</table>

{% else %}

<p>
This site has no logged incidents over the last month.
</p>

{% endif %}

<table>
<tr class='tablesection'><th colspan=20> {{ site.siteid }} parameters </th></tr>
{% for col in colnames %}
<tr><th>{{ col.name }} </th><td> {% if col.value != 'None' %} {{ col.value }} {% endif %}</td></tr>
{% endfor %}
</table>

{% else %}

No site specified.

{% endif %}

{% endblock %}

{% block helptext %}

<p>
This page provides information and links to other services for the PanDA site (resource) {{ site.siteid }}.
<br>
Click on 'worker nodes' to get a breakdown of jobs handled by different worker nodes at the site, useful for spotting problematic WNs.
<br>
Links to job listings for the site and a job error breakdown for the site are also provided.
<br>
Click 'brokerage actions' to see any recent PanDA brokerage actions involving the site.
<br>
Click 'pilots' for the pilot factory monitor's view of factories and pilots serving the site.
{% if viewParams.MON_VO == 'ATLAS' %}
<br>
The ATLAS Site Status Board (SSB) page for the site is linked.
<br>
ATLAS shift e-logs mentioning the site's GOC name in the title are linked.
<br>
Distributed data management (DDM) monitors for the site serving as source and destination are linked.
{% endif %}
</p>

<p>
The site parameters listed are those recorded in PanDA's internal site configuration database (schedconfig).
</p>

<p>
<b>Sites, queues, resources, GOC names, oh my</b><br>
PanDA submits jobs to 'PanDA sites' otherwise known as 'PanDA resources' in ATLAS lingo. It submits jobs via pilots running on queues defined in a PanDA site database; there is typically but not necessarily a 1:1 correspondence between resource and associated queue. These are the queues shown above. PanDA resources are hosted at facilities that (generally) are part of the WLCG computing infrastructure, and have a name (GOC name) within that infrastructure. 
</p>

<p>
<b>Tier levels and multicloud</b><br>
Sites are categorized by the familiar Tier 1, Tier 2, Tier 3 levels. A further subcategorization is T2D; these are Tier 2s validated for heavy duty workloads. T2Ds can be 'shared' across clouds via multicloud production (MCP) -- they can be dynamically assigned to accept work from Tier 1s other than their 'home' Tier 1. These multicloud assignments are indicated for clouds and sites. 
</p>

<p>
<b>Online, offline, brokeroff, test</b><br>
Online sites are up and running, able to accept jobs via automatic brokerage or direct assignment. Brokeroff sites accept jobs only by direct assignment. Test sites accept only test jobs. Offline sites accept no jobs at all. The comment field often gives an indication of how the site wound up with the status it presently has. Very often this comment indicates that the Hammercloud (HC) automated testing and blacklisting system has taken action. 
</p>

<p>
Where sites are served by queues that have meximum allowed memory allocations and/or job execution times, they are so indicated.
</p>

{% endblock %}
