{% extends "_base_lsst.html" %}{% load url from future %}

{% block page_title %} {{ viewParams.MON_VO }} PanDA site {{ site.siteid }} {% endblock %}
{% block title %} <a href="{% url 'index' %}">{{ viewParams.MON_VO }} PanDA monitor</a>{% endblock %}
{% block subtitle %}PanDA site {{ site.siteid }}{% endblock %}

{% block body %}

<div class='section'>{{ site.siteid }} site information </div>

<table>
{% for att in attrs %}
<tr><th>
{{ att.name }}
</th><td>
<span {% if att.name == 'Status' %} class='{{att.value}}' {% endif %}>
{% if att.name == 'GOC name' %} <a href="{% url 'siteList' %}?gocname={{ att.value }}">{{ att.value }}</a>
{% else %}
{% if att.value != 'None' %} {{ att.value }} {% endif %}
{% endif %}
</span>
</td></tr>
{% endfor %}
</table>

{% if queues %}

<div class='section'>All queues for site {{ site.siteid }} </div>
<table>
{% for queue in queues %}
<tr>
<td> {{ queue.nickname }} </td><td> <span class={{ queue.status }}>{{ queue.status }}</span> </td>
<td> Modified {{ queue.lastmod }} </td> <td> {{ queue.comment_field }} </td>
</tr>
{% endfor %}
</table>
{% endif %}


<p><a href="{% url 'wnInfo' site.siteid %}">Worker node summary</a><p>

<p>Recent  <a href="{% url 'jobList' %}?computingsite={{site.siteid}}&display_limit=100">jobs</a>, <a href="{% url 'errorSummary' %}?computingsite={{site.siteid}}">job errors</a> at this site<p>

<p>Look for recent <a href="{% url 'pandaLogger' %}?category=panda.mon.prod&type=brokerage&site={{ site.siteid }}&hours=12">brokerage actions</a> for this site

{% if site.nickname %}
<p><a href="http://apfmon.lancs.ac.uk/q/{{site.nickname}}">Pilot factory monitor</a><p>
{% endif %}

{% if viewParams.MON_VO == 'ATLAS' %}
<p><a href="http://dashb-atlas-ssb.cern.ch/dashboard/request.py/sitehistory?site={{site.siteid}}#currentView=Shifter+view">Site status board</a><p>

<p>DDM dashboard &nbsp;
<a href="http://dashb-atlas-data.cern.ch/ddm2/#src.cloud=(%22{{site.cloud}}%22)&src.site=(%22{{site.siteid}}%22)&grouping.src=(cloud,site,token)">source</a>
&nbsp;
<a href="http://dashb-atlas-data.cern.ch/ddm2/#dst.cloud=(%22{{site.cloud}}%22)&dst.site=(%22{{site.siteid}}%22)&grouping.dst=(cloud,site,token)">destination</a>

<p><a href="http://panda.cern.ch/server/pandamon/query?mode=site&site={{site.siteid}}">Classic (aka old) PanDA monitor page for this site</a><p>
{% endif %}

{% if incidents %}

<div class='section'> Incidents over the last month </div>

<table>
{% for inc in incidents %}
<tr><td> {{ inc.at_time|date:"Y-m-d H:i" }} </td>
<td> <font size=-1>{{ inc.description|safe }}</font> </td>
{% endfor %}
</table>

{% else %}

This site has no logged incidents over the last month.

{% endif %}


<div class='section'> All site parameters </div>

<table>
{% for col in colnames %}
<tr><th>{{ col.name }} </th><td> {% if col.value != 'None' %} {{ col.value }} {% endif %}</td></tr>
{% endfor %}
</table>

{% endblock %}

{% block left_menu %}
{% comment %}
<div class="left-menu">
  {% block left_menu_content %}
    <span class="left-menu-title">Menu</span>
     <br> <a class="left-menu-item" href="{{ prefix }}/#">Home</a>
  {% endblock %}
</div>
{% endcomment %}
{% endblock %}
