{% extends "_base_lsst.html" %}{% load url from future %}

{% block page_title %} {{ viewParams.MON_VO }} PanDA task {{ jeditaskid }} {% endblock %}
{% block title %} <a href="{% url 'index' %}">{{ viewParams.MON_VO }} PanDA monitor</a>{% endblock %}
{% block subtitle %}PanDA task {% if jeditaskid > 0 %}{{ jeditaskid }}:{% endif %} <b>{{ task.taskname }}</b>{% endblock %}

{% block body %}

{% if columns %}

<table>
<tr bgcolor='lightcyan'><th colspan=20> Task {{ jeditaskid }}: {{ taskname }} </th></tr>
<tr bgcolor='lightcyan'>
	<th>ID</th>
	<th>Type</th>
	<th>WorkingGroup</th><th>User</th>
	{% if task.campaign %} <th> Campaign </th> {% endif %}
	<th>{% if viewParams.MON_VO == 'ATLAS' %}Task status </th><th> Detailed JEDI status </th> {% else %} Status {% endif %}</th>
{% if task.dsinfo %}
    <th> Ninputfiles | <span class='finished'>finished</span> | <span class='failed'>failed</span> </th>
{% endif %}
	<th>Created</th>
	<th>Modified</th>
	<th>Cores</th>
	<th>Priority</th>
	<th>Parent</th>
	{% if task.ticketid %} <th>Tracker</th> {% endif %}
</tr>
	<tr>
		<td><a href="{% url 'taskInfo' task.jeditaskid %}">{{ task.jeditaskid }}</a></td>
		<td>{{ task.tasktype }}</td>
		<td>{% if task.workinggroup %} {{ task.workinggroup }} {% endif %} </td>
		<td><a href="{% url 'taskList' %}?username={{ task.username }}">{{ task.username }}</a></td>
		{% if task.campaign %} <td><a href='/tasks/?campaign={{ task.campaign }}'>{{ task.campaign }}</a></td> {% endif %}
{% if viewParams.MON_VO == 'ATLAS' %}
		<td class='{{task.status}}'>{% if task.superstatus %}<b>{{ task.superstatus }}</b>{% else %}{{ task.status }}{% endif %}</td>
{% endif %}
		<td class='{{task.status}}'>{{ task.status }}</td>

{% if task.dsinfo %}
        <td> {{task.dsinfo.nfiles}} |
            <span class='finished'>{{task.dsinfo.nfilesfinished}} ({{task.dsinfo.pctfinished}}%)</span> | <span class='failed'>{{task.dsinfo.nfilesfailed}} ({{task.dsinfo.pctfailed}}%)</span> </td>
{% endif %}
		<td>{{ task.creationdate|date:"Y-m-d H:i" }}</td>
		<td>{{ task.modificationtime|date:"m-d H:i" }}</td>
		<td>{{ task.corecount }}</td>
		<td>{{ task.taskpriority }}</td>
		<td><a href="{% url 'taskInfo' task.parent_tid %}">{% if task.parent_tid != task.jeditaskid %} {{ task.parent_tid }} {% endif %}</a></td>
{% if task.ticketid %}
        <td><a href="https://its.cern.ch/jira/browse/{{ task.ticketid }}">{{ task.ticketsystemtype }}</a></td>
{% endif %}
	</tr>
</table>

{% if jobsummary %}

<table>
<tr bgcolor="lightcyan"><th colspan=20>
<b>States of jobs in this task</b>   &nbsp; &nbsp; <a href="{% url 'jobList' %}?jeditaskid={{jeditaskid}}&display_limit=100">Show jobs</a>
</th></tr>
<tr>
{% for state in jobsummary %}
<td class="{{ state.name}}"> <b> {{ state.name }} </b> </td>
{% endfor %}
</tr><tr>
{% for state in jobsummary %}
<td> {% if state.count > 0 %} <b> <a href="{% url 'jobList' %}?jeditaskid={{task.jeditaskid}}&jobstatus={{state.name}}&display_limit=100"><span class="{{ state.name}}">{{ state.count }}</span></a> </b> {% endif %} </td>
{% endfor %}
</table>
{% endif %}

<p>
{% if task.errordialog %}
<table width=1000><tr><td bgcolor="#FFFBDA"><font color='brown'> <b>Logged status: {{ task.errordialog|safe }}</b></font></td></tr>
{% if logtxt %}
<tr><td>
<font size=-1><pre>
{{ logtxt }}
</pre></font>
</td></tr>
{% endif %}
</table>
{% endif %}

<p>
{% if task.eventservice == 1 %}
This is an event service task<p>
{% endif %}

<table><tr>
<td bgcolor='lightcyan'><b> View: </b></td>

{% if jobsummary %}
<td>
<a href="{% url 'jobList' %}?jeditaskid={{jeditaskid}}&display_limit=100">job list (access to job details and logs)</a>
</td>
{% endif %}

{% if task.parent_tid != task.jeditaskid and task.parent_tid != None %}
<td>
parent task<a href="{% url 'taskInfo' task.parent_tid %}"> {{ task.parent_tid }}</a>
</td>
{% endif %}

<td>
<a href="{% url 'taskList' %}?parent_tid={{ task.jeditaskid }}&display_limit=100">child tasks</a>
</td>

{% if viewParams.MON_VO == 'ATLAS' %}
<td>
<a href="http://bigpanda.cern.ch/prodsys/prodtask/task/{{ task.jeditaskid }}/">prodsys task page</a>
</td>
{% endif %}

<td>
<a href="{% url 'pandaLogger' %}?category=panda.mon.bamboo&type=taskbrokerage&taskid={{ jeditaskid }}">brokerage logger</a>
</td>

<td>
<a href="{% url 'pandaLogger' %}?category=panda.mon.jedi&jeditaskid={{ jeditaskid }}">JEDI action logger</a>
</td>

<td>
<a href="{% url 'errorSummary' %}?jeditaskid={{jeditaskid}}">error summary</a>
</td>

</tr></table>

{% if datasets %}
<table>
<tr bgcolor='lightcyan' >
	<th>Datasets</th>
	<th>Type</th>
	<th>Stream</th>
	<th>State</th>
	<th>Status</th>
	<th>Nfiles</th>
	<th>Created</th>
	<th>Modified</th>
</tr>
{% for dsrec in datasets %}
	<tr>
		<td><font size=-1><a href="{% url 'datasetInfo' %}?datasetname={{ dsrec.datasetname }}">{{ dsrec.datasetname }}</a></font></td>
		<td>{{ dsrec.type }}</td>
		<td>{{ dsrec.streamname }}</td>
		<td class='{{dsrec.state}}'>{{ dsrec.state }}</td>
		<td class='{{dsrec.status}}'>{{ dsrec.status }}</td>
		<td>{{ dsrec.nfiles }}</td>
		<td>{{ dsrec.creationtime|date:"Y-m-d H:i" }}</td>
		<td>{{ dsrec.modificationtime|date:"m-d H:i" }}</td>
	</tr>
{% endfor %}
</table>

{% else %}

No datasets were found for this task

{% endif %}

{% if sumd %}
<table>
{% for fdict in sumd %}
<tr><th> {{ fdict.field }} </th><td>
{% for item in fdict.list %}
{% if fdict.field == 'status' %} <span class='{{item.kname}}'> {% else %} <span> {% endif %}  {{ item.kname }} </span>
<a href="{{xurl}}{{fdict.field}}={{item.kname}}">({{ item.kvalue }})</a> &nbsp; 
{% endfor %}
</td></tr>
{% endfor %}
</table>
{% endif %}

{% if jobparams %}
<table>
<tr bgcolor='lightcyan'><th colspan=20> Job parameters </th></tr>
{% for p in jobparams %}
<tr><td><font size=-1>{{ p|safe }}</font></td></tr>
{% endfor %}
</table>
<p>
{% endif %}

{% if taskparams %}
<table>
<tr bgcolor='lightcyan'><th colspan=20> Prodsys task parameters </th></tr>
{% for p in taskparaml %}
{% if p.name != 'jobParameters' and p.name != 'log' %}
<tr><th> {{ p.name }} </th><td>{% if p.value != None %} {{ p.value }} {% endif %}</td></tr>
{% endif %}
{% endfor %}
</table>
<p>
{% endif %}

<table>
<tr bgcolor='lightcyan'><th colspan=20> PanDA/JEDI task parameters </th></tr>
{% for col in columns %}
<tr><th>{{ col.name }} </th><td> {% if col.value != 'None' %} {{ col.value }} {% endif %}</td></tr>
{% endfor %}
</table>

{% else %}

<p>
PanDA task {% if jeditaskid > 0 %}{{ jeditaskid }}:{% endif %} <b>{{ taskname }}</b> not found.
</p>

{% if viewParams.MON_VO == 'ATLAS' %}

 <p> Note that task info pages are currently only available for JEDI tasks in the new monitor.
 </p><p>
 You can however get a job listing for any task in quick search.
</p><p>
You can see the old monitor's task page for this task <a href="http://panda.cern.ch/server/pandamon/query?taskname={{ jeditaskid }}&overview=taskinfo">here</a>.
</p>
{% endif%}

{% endif %}

{% endblock %}

{% block helptext %}

<p>
The task status shown is the simple 'macro' state the task is in -- the 'superstatus' field in the task record. In ATLAS, these are in sync with DEFT states. JEDI uses internally a more complex set of states, the 'status' field, shown here as 'Detailed JEDI status'.
</p>

<p>
Finished/failed progress of the task is indicated by the percentage and counts of input files that are finished/failed.
Click on the failed file percentage or count to see a summary of the errors.
</p>
<p>
(In the new JEDI system, task progress cannot be monitored in terms of jobs completed/failed because jobs are defined dynamically. The input files associated with a task are an invariant of the task, so measuring their progress is a valid metric of task progress.)
</p>

<p>
The JEDI twiki has information on JEDI task
<a href="https://twiki.cern.ch/twiki/bin/view/PanDA/PandaJEDI#Transition_of_task_status">state transitions</a> and
<a href="https://twiki.cern.ch/twiki/bin/view/PanDA/PandaJEDI#The_JEDI_Tasks_table">schema</a>.
</p>

{% if viewParams.MON_VO == 'ATLAS' %}
<p>
Prodsys, DEFT, and JEDI task states, transitions and relationships are
<a href="https://twiki.cern.ch/twiki/bin/view/AtlasComputing/ProdSys#Transition_of_Request_and_Task_s">described here on the Prodsys twiki</a>.
</p>
{% endif %}

{% endblock %}
