<tr class="docsection"><th><a name="taskInfoHelp"></a> {{ helptitle }} </th></tr>
<tr><td class="doctextlight">

<p>
The task status shown is the 'superstatus' the task is in. In ATLAS, these are in sync with DEFT states. JEDI uses internally a more complex set of states, shown here as 'Detailed JEDI status' (when it differs from the superstatus).
</p>

<ul>
{% if show == 'all' or task.superstatus == 'registered' %} <li>  Status <b class='registered'>registered</b> indicates the task has been received by JEDI and the task information is inserted to the JEDI_Tasks table. {% endif %}
{% if show == 'all' or task.superstatus == 'submitting' %} <li>  Status <b class='submitting'>submitting</b> indicates the task is progressing through the steps preparing it to be run, including scouting (sending scout jobs to validate the task and measure its parameters). {% endif %}
{% if show == 'all' or task.superstatus == 'running' %} <li>  Status <b class='running'>running</b> indicates the task has successfully validated and is running. {% endif %}
{% if show == 'all' or task.superstatus == 'finished' %} <li>  Status <b class='finished'>finished</b> indicates that some inputs of the task were successfully processed but others were failed or not processed because the task was terminated. {% endif %}
{% if show == 'all' or task.superstatus == 'done' %} <li>  Status <b class='done'>done</b> indicates that all inputs of the task were successfully processed. {% endif %}
{% if show == 'all' or task.superstatus == 'failed' %} <li>  Status <b class='failed'>failed</b> indicates the task has failed, all inputs have failed, in a way that retry is possible (if retry is impossible the task goes to status 'broken'). If some inputs succeeded while others failed and the class is terminated, the task goes to 'finished' status. {% endif %}
{% if show == 'all' or task.superstatus == 'aborted' %} <li>  Status <b class='aborted'>aborted</b> indicates the task has been killed. Aborted tasks can be re-executed. {% endif %}
{% if show == 'all' or task.superstatus == 'broken' %} <li>  Status <b class='broken'>broken</b> indicates the task has failed in a way that makes retry impossible. The circumstances under which a task is declared as broken are bring tuned with the objective of declaring tasks as broken only in very limited circumstances. {% endif %}
</ul>


<p>
Finished/failed progress of the task is indicated by the percentage and counts of input files that are finished/failed.
Click on the failed file percentage or count to see a summary of the errors.
</p>

<p>
In the new JEDI system, task progress cannot be monitored in terms of jobs completed/failed because jobs are defined dynamically. The input files associated with a task are an invariant of the task, so measuring their progress is a valid metric of task progress.
JEDI centers around tasks, no longer around jobs as in the old system.
</p>
<p>
In the old system, the front end clients -- analysis and prodsys1 -- predefined the jobs for panda, and panda's mission was to process those jobs. The metric for progress and success was the processing of those jobs.
</p>
<p>
In the new system, the front end clients -- JEDI based analysis and prodsys2 -- define only the task: a transformation to be applied to a set of inputs. Panda's mission in this system is to process those inputs, and the metric is progress and success in processing those input files. Jobs are dynamically created and re-created at panda's discretion to process and as necessary retry those inputs, shaping the jobs optimally for the resources available at a given time. So jobs are shapeshifting and fluid, it is the inputs that really define the task and are the measure of its completion.
</p>
<p>
<b>For JEDI based analysis and production, monitoring tasks and the processing of their input files is the best means of assessing processing status.</b>
</p>

<p>
The JEDI twiki has information on JEDI task
<a href="https://twiki.cern.ch/twiki/bin/view/PanDA/PandaJEDI#Transition_of_task_status">state transitions</a> and
<a href="https://twiki.cern.ch/twiki/bin/view/PanDA/PandaJEDI#The_JEDI_Tasks_table">schema</a>. Task state names above are links to this documentation.
</p>

{% if viewParams.MON_VO == 'ATLAS' %}
<p>
Prodsys, DEFT, and JEDI task states, transitions and relationships are
<a href="https://twiki.cern.ch/twiki/bin/view/AtlasComputing/ProdSys#Transition_of_Request_and_Task_s">described here on the Prodsys twiki</a>.
</p>
{% endif %}

<p>
Tasks can be listed based on a substring of the taskname using the Search page. It supports searches by project, tag, stream. All of these are simply taskname substring searches. You can also use &amp;taskname=*substring* in the URL.
</p>


</td>

