{% extends "_base_lsst.html" %}
{% load url from future %}

{% block page_title %} {{ viewParams.MON_VO }} PanDA tasks{% endblock %}
{% block title %} <a href="{% url 'index' %}">{{ viewParams.MON_VO }} PanDA monitor</a>{% endblock %}
{% block subtitle %}PanDA {% if viewParams.MON_VO == 'ATLAS' %} JEDI {% endif %} task list{{viewParams.selection|safe }}
{% if vo %} &nbsp; for VO {{ vo }}
{% endif %}
{% endblock %}
{% block body %}

{% if requestParams.workinggroup %}<br><b>Working group: {{ requestParams.workinggroup }}</b> {% endif %}
{% if requestParams.username %}<br><b>User: <a href="{% url 'userInfo' requestParams.username %}?display_limit=100">{{ requestParams.username }}</a> &nbsp; <a href="{% url 'userInfo' requestParams.username %}?display_limit=100">Show user page</a></b> {% endif %}
{% if requestParams.tasktype %}<br><b>Task type: {{ requestParams.tasktype }}</b> {% endif %}
{% if requestParams.transpath %}<br><b>Transformation: {{ requestParams.transpath }}</b> {% endif %}
{% if requestParams.transuses %}<br><b>Release: {{ requestParams.transuses }}</b> {% endif %}
{% if requestParams.processingtype %}<br><b>Processing type: {{ requestParams.processingtype }}</b> {% endif %}
{% if requestParams.cloud %}<br><b>Cloud: {{ requestParams.cloud }}</b> {% endif %}
{% if requestParams.parent_tid %}<br><b>Parent task: {{ requestParams.parent_tid }}</b> {% endif %}
{% if requestParams.status %}<br><b>{% if viewParams.MON_VO == 'ATLAS' %}JEDI task status {% else %}Task status {% endif %}: <span class='{{requestParams.status}}'>{{ requestParams.status }}</span></b> {% endif %}
{% if requestParams.eventservice %}<br><b>Event service tasks</b> {% endif %}

<p>
{% if tasks %}

{% if sumd %}

<table>
<tr class='tablesection'><th colspan=20> Task attribute summary, {{ ntasks }} tasks </th></tr>
{% for fdict in sumd %}
<tr><th> {{ fdict.field }} ({{ fdict.list|length }}) </th><td>
{% for item in fdict.list %}
{% if fdict.field == 'status' %} <span class='{{item.kname}}'> {% else %} <span> {% endif %}  {{ item.kname }} </span>
<a href="{{xurl}}{{fdict.field}}={{item.kname}}">({{ item.kvalue }})</a> &nbsp; 
{% endfor %}
</td></tr>
{% endfor %}
</table>
{% endif %}

<table>
<tr class='tablesection'><th colspan=20> Task list
{% if display_limit %} {% if tasks|length >= display_limit %}
&nbsp; &nbsp; <font size=-1>Only the most recent {{ display_limit }} tasks are shown. <a href="{{ url_nolimit }}">Remove the limit</a></font>
{% endif %} {% endif %}
</th></tr>
<tr class='tablesection'>
	<th>ID<br>Type</th>
	<th>Name<br>User<br><font color='brown'>Logged status</font></th>
	<th>{% if viewParams.MON_VO == 'ATLAS' %}JEDI task status{% else %}Status{% endif %}<br>Nfile <span class='finished'>fin%</class> <span class='failed'>fail%</span></th>
	<th>Created</th>
	<th>Modified</th>
	<th>Priority</th>
	<th>Parent</th>
	<th>Track</th>
</tr>
    {% for task in tasks %}
	<tr>
		<td><a href="{% url 'taskInfo' task.jeditaskid %}">{{ task.jeditaskid }}</a><br>{{ task.tasktype }}</td>
        </td>
		<td><font size=-1><a href="{% url 'taskInfo' task.jeditaskid %}">{{ task.taskname }}</a><br>{% if task.workinggroup %} <a href="{% url 'taskList' %}?workinggroup={{ task.workinggroup }}">{{ task.workinggroup }} &nbsp; {% endif %} <a href="{% url 'taskList' %}?username={{ task.username }}">{{ task.username }}</a></font><br><font color='brown'>{{ task.errordialog|safe }}</font>
		</font></td>
		<td><span  class='{{task.status}}'>{{ task.status }}</span>
        {% if task.dsinfo.nfiles > 0 %} <br>{{task.dsinfo.nfiles}} {% if task.dsinfo.nfilesfinished > 0 %}<span  class='finished'>{{task.dsinfo.pctfinished}}%</span>{% endif %} {% if task.dsinfo.nfilesfailed > 0 %}<span class='failed'>{{task.dsinfo.pctfailed}}%</span>{% endif %} {% endif %}
		</td>
		<td><font size=-1>{{ task.creationdate|date:"Y-m-d H:i" }}</font></td>
		<td><font size=-1>{{ task.modificationtime|date:"m-d H:i" }}</font></td>
		<td>{{ task.taskpriority }}</td>
		<td>{% if task.parent_tid and task.parent_tid != task.jeditaskid %}<a href="{% url 'taskInfo' task.parent_tid %}">{{ task.parent_tid }}</a>{% endif %}</td>
        <td>{% if task.ticketid %}<a href="https://its.cern.ch/jira/browse/{{ task.ticketid }}"> {% if task.ticketsystemtype %}{{ task.ticketsystemtype }} {% else %} JIRA {% endif %}</a> {% endif %}</td>
	</tr>
    {% endfor %}
</table>

{% else %}
    <p>No matches to query.</p>
{% endif %}
{% endblock %}

{% block helptext %}

<p>
The JEDI twiki has information on JEDI task
<a href="https://twiki.cern.ch/twiki/bin/view/PanDA/PandaJEDI#Transition_of_task_status">state transitions</a> and
<a href="https://twiki.cern.ch/twiki/bin/view/PanDA/PandaJEDI#The_JEDI_Tasks_table">schema</a>.
</p>

{% if viewParams.MON_VO == 'ATLAS' %}
<p>
Prodsys, DEFT, and JEDI task states, transitions and relationships are
<a href="https://twiki.cern.ch/twiki/bin/view/AtlasComputing/ProdSys#Transition_of_Request_and_Task_s">described here on the Prodsys twiki</a>.
</p>
{% endif %}

{% endblock %}
