{% extends "_base_lsst.html" %}{% load url from future %}

{% block page_title %} {{ viewParams.MON_VO }} PanDA user {{ user }} {% endblock %}
{% block title %} <a href="/lsst/">{{ viewParams.MON_VO }} PanDA monitor</a>{% endblock %}
{% block subtitle %}PanDA user {{ user }}{{ viewParams.selection }}{% endblock %}

{% block body %}

<table>
{% for fdict in jobsumd %}
<tr><th> {{ fdict.field }} </th><td>
{% for item in fdict.list %}
{% if fdict.field == 'jobstatus' %} <span class='{{item.kname}}'> {% else %} <span> {% endif %}  {{ item.kname }} </span>
<a href="{{xurl}}{{fdict.field}}={{item.kname}}">({{ item.kvalue }})</a> &nbsp; 
{% endfor %}
</td></tr>
{% endfor %}
</table>

<div class='section'>Latest jobs</div>

<table>
<tr>
	<th>Owner</th>
	<th>PanDA ID</th>
	<th>Transformation</th>
	<th>Jobset</th>
	<th>Status</th>
	<th>Created</th>
	<th>Start</th>
	<th>End</th>
	<th>Site</th>
{% if viewParams.MON_VO != 'ATLAS' %}	<th>VO</th> {% endif %}
	<th>Priority</th>
</tr>
    {% for job in jobList %}
	<tr>
		<td><a href="{% url 'lsst.views.userInfo' job.produsername|safe %}">{{ job.produsername }}</a>
			{% if job.workinggroup %}/{{ job.workinggroup }}{% endif %}{% if viewParams.MON_VO != 'ATLAS' %}{% if job.vo %}/ {{ job.vo }} {% endif %}{% endif %}
		</td>
		<td><a href="{% url 'lsst.views.jobInfo' job.pandaid %}">{{ job.pandaid }}</a></td>
		<td class='{{job.transformation}}'>{{ job.transformation }}</td>
		<td>{% if job.jobsetid %}<a href="{{xurl}}jobsetid={{job.jobsetid}}">{{ job.jobsetid }}</a>{% endif %}</td>
		<td class='{{job.jobstatus}}'>{{ job.jobstatus }}</td>
		<td>{{ job.creationtime|date:"Y-m-d H:i" }}</td>
		<td>{{ job.starttime|date:"m-d H:i" }}</td>
		<td>{{ job.endtime|date:"m-d H:i" }}</td>
		<td><a href="{% url 'lsst.views.siteInfo' job.computingsite %}">{{ job.computingsite }}</a></td>
{% if viewParams.MON_VO != 'ATLAS' %}    	<td>{% if job.vo %} {{ job.vo }} {% else %} &nbsp; {% endif %}</td> {% endif %}
		<td>{{ job.currentpriority }}</td>
	</tr>
    {% endfor %}
</table>

{% endblock %}

{% block left_menu %}
{% comment %}
<div class="left-menu">
  {% block left_menu_content %}
    <span class="left-menu-title">Menu</span>
     <br> <a class="left-menu-item" href="{{ prefix }}/#">Home</a>
  {% endblock %}
</div>
{% endcomment %}
{% endblock %}
