<tr class="docsection"><th><a name="userInfoHelp"></a> {{ helptitle }} </th></tr>
<tr><td class="doctextlight">

<p>
Documentation on JEDI for analysis, its advantages and how to use it, 
<a href="https://twiki.cern.ch/twiki/bin/view/PanDA/PandaJediAnalysis">can be found here</a>.
This monitor supports analysis with JEDI. JEDI based analysis centers around tasks, no longer around jobs as in the old system.
</p><p>
In the old system, the front end clients -- analysis and prodsys1 -- predefined the jobs for panda, and panda's mission was to process those jobs. The metric for progress and success was the processing of those jobs.
</p><p>
In the new system, the front end clients -- JEDI based analysis and prodsys2 -- define only the task: a transformation to be applied to a set of inputs. Panda's mission in this system is to process those inputs, and the metric is progress and success in processing those input files. Jobs are dynamically created and re-created at panda's discretion to process and as necessary retry those inputs, shaping the jobs optimally for the resources available at a given time. So jobs are shapeshifting and fluid, it is the inputs that really define the task and are the measure of its completion.
</p><p>
For JEDI based analysis, the task list in this page is the principal tool for quickly assessing processing status.
</p>

<p>
The JEDI twiki has information on JEDI task
<a href="https://twiki.cern.ch/twiki/bin/view/PanDA/PandaJEDI#Transition_of_task_status">states</a> and
<a href="https://twiki.cern.ch/twiki/bin/view/PanDA/PandaJEDI#The_JEDI_Tasks_table">schema</a>. Task state names in the page above are links to this documentation.
</p>

<p>
The job attribute summary gives an overview of the parameters of the selected jobs and enables you to drill down to the jobs of interest. If there are other parameters that it would be useful to have summarized here, let us know.
</p>
<p>
The job list itself is expensive to build (for the server, network and your browser) and so is limited by the display_limit parameter that is included by default on the URL. You can remove the limit on jobs displayed (by removing display_limit in the URL), but be careful. The intent is that you drill down to a relatively small number of jobs (a few thousand at most), then you can list them if necessary. In the JEDI Era the intent is that tasks are the main focus anyway, and you can drill down from tasks to their jobs.
</p>
<p>
Note that the number of records retrieved from each table of the database is limited for performance reasons. (Job data is spread across several tables depending on the state and age of the job). This means that if the search interval is 12 hours, you are probably not seeing all jobs from the last 12 hours, only the latest N from each table. As you drill down, narrowing your search to jobs of interest, the (unchanged) limit will encompass more jobs of interest to you. If you need to increase the limit, use &limit=N in the URL. Similarly you can specify &days=N on the URL, but use carefully, the load on the DB is heavy for days greater than 3. 
</p>
<p>
If you know the jobsetid=N or taskid=N, jeditaskid=N of the jobs you're interested in, you can add these to the URL, and the search will not be time limited (because these IDs give the DB enough indexing info that it isn't stressful on the DB to exclude the time constraint).
</p>
<p>
Bookmarking pages of interest to you is recommended. Save that useful drill-down rather than doing all the clicking again. All monitor pages are bookmarkable (the full specification of the page is in the URL). 
</p>
<p>
Job lists can be retrieved in json format with curl so that job data can be used programmatically. <b>Use this carefully</b>, do not for example put scripts in crons that do heavy retrieval of job data this way. If you have systematic needs for PanDA job data, tell us what they are. An example curl command is as follows; it takes the same url parameters as the browser version.
<br><font size=-1><code>
curl -H 'Accept: application/json' -H 'Content-Type: application/json' "http://bigpanda.cern.ch/jobs/?transfertype=fax&hours=1"
</font></code>
</p>

</td>
