{% extends "_base_lsst.html" %}
{% load url from future %}

{% block page_title %} {{ viewParams.MON_VO }} PanDA users{% endblock %}
{% block title %} <a href="/lsst/">{{ viewParams.MON_VO }} PanDA monitor</a>{% endblock %}
{% block subtitle %}PanDA active user list{{viewParams.selection }}
{% if vo %} &nbsp; for VO {{ vo }}{% endif %}
{% endblock %}
{% block body %}

{% if sumd %}

<table>
{% for fdict in jobsumd %}
<tr><th> {{ fdict.field }} </th><td>
{% for item in fdict.list %}
{% if fdict.field == 'jobstatus' %} <span class='{{item.kname}}'> {% else %} <span> {% endif %}  {{ item.kname }} </span>
<a href="{{xurl}}{{fdict.field}}={{item.kname}}">({{ item.kvalue }})</a> &nbsp; 
{% endfor %}
</td></tr>
{% endfor %}
</table>

<table>
<tr>
<th> User </th>
<th> nJobs </th>
<th> nFinished </th>
<th> nFailed </th>
<th> nHolding </th>
<th> nCancelled </th>
<th> nQueued </th>
<th> nSites </th>
<th> nClouds </th>
<th> CPU</th>
</tr>

{% for userd in sumd %}
<tr>
<th> <a href="/lsst/user/{{userd.dict.name}}">{{userd.dict.name}}</a> </th>
<td> {{ userd.dict.njobs }} </td>
<td class='finished'> {{ userd.dict.nfinished }} </td>
<td class='failed'> {{ userd.dict.nfailed }} </td>
<td class='holding'> {{ userd.dict.nholding }} </td>
<td class='cancelled'> {{ userd.dict.ncancelled }} </td>
<td class='defined'> {{ userd.dict.nqueued }} </td>
<td> {{ userd.dict.nsites }} </td>
<td> {{ userd.dict.nclouds }} </td>
<td> {{ userd.dict.cputime }} </td>
</tr>
{% endfor %}
</table>

{% else %}
    <p>No matches to query.</p>
{% endif %}
{% endblock %}

{% block bottom_info %}
{% endblock %}

{% block left_menu %}
{% comment %}
<div class="left-menu">
  {% block left_menu_content %}
    <span class="left-menu-title">Menu</span>
     <br> <a class="left-menu-item" href="{{ prefix }}/#">Home</a>
  {% endblock %}
</div>
{% endcomment %}
{% endblock %}
