{% extends "_base_lsst.html" %}
{% load url from future %}

{% block page_title %} {{ viewParams.MON_VO }} PanDA working groups{% endblock %}
{% block title %} <a href="{% url 'index' %}">{{ viewParams.MON_VO }} PanDA monitor</a>{% endblock %}
{% block subtitle %}PanDA working group dashboard{{ viewParams.selection }}
{% endblock %}
{% block body %}

{{ viewParams.header }}

<table width=800><tr><td>
This page summarizes recent job status for working groups.
Failure rates above {{ errthreshold }}% are shown in red.
Click the job counts to go to job listings.
</tr></td></table>
<p>

<div class='section'>Working group job summary</div>

<table>

<tr bgcolor="lightcyan">
<th> Working group</th>
<th> nJobs </th>
<th> %failed </th>
<th> defined </th>
<th> waiting </th>
<th> pending </th>
<th> assigned </th>
<th> activated </th>
<th> sent </th>
<th> starting </th>
<th> running </th>
<th> holding </th>
<th> transferring </th>
<th> finished </th>
<th> failed </th>
<th> cancelled </th>
</tr>

{% for wg in wgsummary %}
<tr>
<td> {{ wg.name }} </td>
<td align='right'> <a href="{% url 'jobList' %}?workinggroup={{ wg.name }}&hours={{hours}}">{{ wg.count }}</a> </td>
<td>{{ wg.pctfail|safe  }} </td>
{% for state in wg.statelist %}
<td align='right'> <a href="{% url 'jobList' %}?workinggroup={{ wg.name }}&jobstatus={{ state.name }}&hours={{hours}}&jobtype={{ view }}"> <span class="{{ state.name }}">{{ state.count }}</span></a> </td>
{% endfor %}
</tr>
{% endfor %}
</table>

{% endblock %}

{% block bottom_info %}
{% endblock %}

{% block left_menu %}
{% comment %}
<div class="left-menu">
  {% block left_menu_content %}
    <span class="left-menu-title">Menu</span>
     <br> <a class="left-menu-item" href="{{ prefix }}/#">Home</a>
  {% endblock %}
</div>
{% endcomment %}
{% endblock %}
