<tr class="docsection"><th><a name="workQueuesHelp"></a> {{ helptitle }} </th></tr>
<tr><td class="doctextlight">

<p>
Documentation on PanDA JEDI work queues:
<a href="https://twiki.cern.ch/twiki/bin/view/PanDA/PandaJEDI#Work_queues">functional description</a>,
<a href="https://twiki.cern.ch/twiki/bin/view/PanDA/PandaJEDI#The_JEDI_Work_Queue_table">table schema</a>.
</p>

<p>
Work queues will be the basis for a new dynamic resource requirements based queue scheme currently in development.
</p>

</td>
