{% extends "_base_bigpandamon.html" %}{% load url from future %}{% load js %}{% load core_extras %}
{% block subtitle %}List of jobs{% endblock %}
{% block header-nav-chain-1 %}<a href="{% url 'index' %}">{{ APP_NAME }}</a>{% endblock %}{% block header-nav-chain-1-separator %}{{ SEPARATOR_NAVIGATION_ITEM|safe }}{% endblock %}  
{% block header-nav-chain-2 %}<a href="{% url 'jobList' %}">List of jobs</a>{% endblock %}{% block header-nav-chain-2-separator %}{% endblock %}  
{% block header-nav-chain-3 %}{% endblock %}{% block header-nav-chain-3-separator %}{% endblock %}  
{% block header-nav-chain-4 %}{% endblock %}{% block header-nav-chain-4-separator %}{% endblock %}  
{% block header-nav-chain-5 %}{% endblock %}{% block header-nav-chain-5-separator %}{% endblock %}  
{% block header-nav-chain-6 %}{% endblock %}
{% block extra_css %}
<style type="text/css" title="currentStyle">
@import "{{ STATIC_URL }}/css/jquery.dataTables_themeroller.css";
@import "{{ STATIC_URL }}/css/jquery-ui-1.10.3.custom.min.css";
@import "{{ STATIC_URL }}/css/jquery-ui-timepicker-addon.css";
</style>
{% endblock %}
{% block extra_js %}
	<script type="text/javascript" src="{{ STATIC_URL }}/js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}/js/jquery.dataTables.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}/js/jquery-ui-1.10.3.custom.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}/js/jquery-ui-timepicker-addon.js"></script>
	{% django_js jquery=false i18n=true csrf=false %}

	<script type="text/javascript" charset="utf-8">
		var pgst = 'ini';
		var filter = [];
		var shFilter = [];
		var fields = {{ filterFields|safe }};
		var tableid = "{{ tableid_joblist }}";
		var datasrc = "{{ datasrc }}";
//		var colsDict = {};
//		var shFilter = [];
		var colsOrig = {{ columns|safe }};
		var fieldIndices = {{ fieldIndices|safe }};
	// fake values
//		var fltr = {'pgst': 'ini'};
		var fltr;
		var stFlag = 'ini';
		var oTable;
	</script>
	<script type="text/javascript" src="{{ STATIC_URL }}/js/bigpandamon-csrf.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}/js/bigpandamon-filter.js"></script>
{% endblock %}
{% block body %}

<!-- Filter -->
{% if tableid_joblist %}
	<div class="row">
		<a href="javascript:void(0)">
			<span id="sh-filter-{{ tableid_joblist }}">Show filter of {{ caption }}</span>
		</a>
	</div>
{% endif %}
{% empty_div %}
<div id="div-table-filter-{{ tableid_joblist }}" class="tableFilter">
	<table id="table-filter-{{ tableid_joblist }}" width="100%">
		<tr> 
			<td><b>Jedi Task ID:</b></td>
			<td align=right><input id="JediTaskID"></td> 
		</tr>
		<tr> 
			<td><b>Job status:</b></td>
			<td align=right>
				<select multiple id="JobStatus"> 
					<option value="pending">pending</option>
					<option value="defined">defined</option>
					<option value="waiting">waiting</option>
					<option value="assigned">assigned</option>
					<option value="activated">activated</option>
					<option value="sent">sent</option>
					<option value="starting">starting</option>
					<option value="running">running</option>
					<option value="holding">holding</option>
					<option value="transferring">transferring</option>
					<option value="finished">finished</option>
					<option value="failed">failed</option>
					<option value="cancelled">cancelled</option>
				</select>
			</td>
		</tr>
	</table>
</div>
<div id="div-table-filter-button-{{ tableid_joblist }}">
  <button type="button" id="btnFilter-{{ tableid_joblist }}" class="ui-buttonset ui-button">Filter table!</button>
  {% empty_div %}
</div>


<!-- Summary list -->



<!-- Job list -->
<table id="{{ tableid_joblist }}" width="100%">
	<thead>
		<tr>
			<th width="25%">Owner</th>
			<th width="0%">WG</th>
			<th width="9%">JEDI Task ID</th>
			<th width="9%">PanDA ID</th>
			<th width="7%">Status</th>
			<th width="7%">Created</th>
			<th width="7%">Modified</th>
			<th width="7%">Start</th>
			<th width="7%">End</th>
			<th width="0%">Cloud</th>
			<th width="15%">Site</th>
			<th width="7%">Prio</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td colspan="12" class="dataTables_empty">Loading data from server</td>
		</tr>
	</tbody>
</table>
{% endblock %}
{% block extra_js_bottombody %}
	<script type="text/javascript" charset="utf-8">
/*
		var pgst = 'ini';
		var filter = [];
		var shFilter = [];
		var fields = {{ filterFields|safe }};
		var tableid = "{{ tableid_joblist }}";
		var datasrc = "{{ datasrc }}";
//		var colsDict = {};
//		var shFilter = [];
		var colsOrig = {{ columns|safe }};
		var fieldIndices = {{ fieldIndices|safe }};
	// fake values
//		var fltr = {'pgst': 'ini'};
		var fltr;
		var stFlag = 'ini';
	// END fake values
*/
/*
		fields = {{ filterFields|safe }};
		tableid = "{{ tableid_joblist }}";
		datasrc = "{{ datasrc }}";
		colsOrig = {{ columns|safe }};
		fieldIndices = {{ fieldIndices|safe }};
		filter = [];
		shFilter = [];
		pgst = 'ini';
*/

//		// AJAX setup with CSRF protection
//		var csrftoken = $.cookie('csrftoken');
//		
//		
//		function csrfSafeMethod(method) {
//		    // these HTTP methods do not require CSRF protection
//		    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
//		}
//		
//		function sameOrigin(url) {
//		    // test that a given url is a same-origin URL
//		    // url could be relative or scheme relative or absolute
//		    var host = document.location.host; // host + port
//		    var protocol = document.location.protocol;
//		    var sr_origin = '//' + host;
//		    var origin = protocol + sr_origin;
//		    // Allow absolute or scheme relative URLs to same origin
//		    return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
//		        (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
//		        // or any other URL that isn't scheme relative or absolute i.e relative.
//		        !(/^(\/\/|http:|https:).*/.test(url));
//		}

$.fn.dataTableExt.oApi.fnReloadAjax = function ( oSettings, sNewSource, fnCallback, bStandingRedraw )
{
    if ( typeof sNewSource != 'undefined' && sNewSource != null )
    {
        oSettings.sAjaxSource = sNewSource;
    }
    this.oApi._fnProcessingDisplay( oSettings, true );
    var that = this;
    var iStart = oSettings._iDisplayStart;
 
    this.fnDraw();
}




// hide filter table, show only filter summary
hideFilter("{{ tableid_joblist }}", "{{ caption }}" );
$("#btnFilter-{{ tableid_joblist }}").hide();


$(document).ready(function() {
				$.ajaxSetup({
					beforeSend: function(xhr, settings) {
						if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
							// Send the token to same-origin, relative URLs only.
							// Send the token only if the method warrants CSRF protection
							// Using the CSRFToken value acquired earlier
							xhr.setRequestHeader("X-CSRFToken", csrftoken);
						}
					}
				});

				// get filter parameters from URL
				getFilterURL();
				// filter table config
				buildFilterTable("{{ tableid_joblist }}");
				// set filter to values from URL
				setValuesFilterTable(filter);

				// draw table
				console.debug("before drawTable");
				drawTable(pgst);
				console.debug("after drawTable");

				// Show/hide filter
				console.debug("before sh-filter-click function");
				$("#sh-filter-{{ tableid_joblist }}").click(function(){
					var nTr = this.parentNode;
					var i = $.inArray( nTr, shFilter );
				
					if ( i === -1 ) {
						showFilter("{{ tableid_joblist }}", "{{ caption }}");
						shFilter.push( nTr );
					} else {
						hideFilter("{{ tableid_joblist }}", "{{ caption }}");
						shFilter.splice( i, 1 );
					}
				});
				console.debug("after sh-filter-click function");

				console.debug("before btnFilter-click function");
				// Filter dataTable button
				$("#btnFilter-{{ tableid_joblist }}").click(function(){ 
					pgst='fltr';
					drawTable(pgst, fields, "{{ tableid_joblist }}", "{{ datasrc }}", fltr);
				});
				console.debug("after btnFilter-click function");

//	fieldIndices = {{ fieldIndices|safe }};
} ); // document.ready
//	fieldIndices = {{ fieldIndices|safe }};
	</script>
{% endblock %}
