{% extends "_base_bigpandamon.html" %}{% load core_extras %}
{% block subtitle %}{% endblock %}
{% block header-nav-chain-1 %}{% endblock %}{% block header-nav-chain-1-separator %}{% endblock %}  
{% block header-nav-chain-2 %}{% endblock %}{% block header-nav-chain-2-separator %}{% endblock %}  
{% block header-nav-chain-3 %}{% endblock %}{% block header-nav-chain-3-separator %}{% endblock %}  
{% block header-nav-chain-4 %}{% endblock %}{% block header-nav-chain-4-separator %}{% endblock %}  
{% block header-nav-chain-5 %}{% endblock %}{% block header-nav-chain-5-separator %}{% endblock %}  
{% block header-nav-chain-6 %}{% endblock %}  
{% block extra_css %}{% endblock %}
{% block extra_js %}{% endblock %}

{% block body %}
{{ msg }}
{% endblock %}
