{% extends "_base_bigpandamon.html" %}{% load url from future %}
{% block subtitle %}List of queues{% endblock %}
{% block header-nav-chain-1 %}<a href="{% url 'index' %}">{{ APP_NAME }}</a>{% endblock %}{% block header-nav-chain-1-separator %}{{ SEPARATOR_NAVIGATION_ITEM|safe }}{% endblock %}  
{% block header-nav-chain-2 %}<a href="{% url 'listSchedconfigQueues' %}">List of queues</a>{% endblock %}{% block header-nav-chain-2-separator %}{% endblock %}  
{% block header-nav-chain-3 %}{% endblock %}{% block header-nav-chain-3-separator %}{% endblock %}  
{% block header-nav-chain-4 %}{% endblock %}{% block header-nav-chain-4-separator %}{% endblock %}  
{% block header-nav-chain-5 %}{% endblock %}{% block header-nav-chain-5-separator %}{% endblock %}  
{% block header-nav-chain-6 %}{% endblock %}  
{% block body %}
{% if jobList %}
    <ul>
    {% for job in jobList %}
        <li>PanDA queue <a href="{% url 'schedconfigDetails' job.nickname %}" target="_blank">{{ job.nickname }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No information is available.</p>
{% endif %}
{% endblock %}
