{% load jedi_extras %}{% load core_extras %}

<!-- Job list -->
<div class="large-12 columns text-justify">
<table id="{{ tableid }}" width="100%">
	<thead>
		<tr>
			<th width="9%">Task ID</th>
			<th width="9%">PanDA ID</th>
			<th width="7%">Status</th>
			<th width="7%">Created</th>
			<th width="7%">Modified</th>
			<th width="7%">Start</th>
			<th width="7%">End</th>
			<th width="0%">Cloud</th>
			<th width="20%">Site</th>
			<th width="7%">Prio</th>
			<th width="20%">Owner</th>
			<th width="0%">WG</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td colspan="12" class="dataTables_empty">Loading data from server</td>
		</tr>
	</tbody>
</table>
</div>

