{% extends "_base_bigpandamon.html" %}
{% load url from future %}
{% load js %}
{% load users_extras %}
{% block subtitle %}Active PanDA {{ caption }}{% endblock %}
{% block header-nav-chain-1 %}<a href="{% url 'index' %}">{{ APP_NAME }}</a>{% endblock %}{% block header-nav-chain-1-separator %}{{ SEPARATOR_NAVIGATION_ITEM|safe }}{% endblock %}  
{% block header-nav-chain-2 %}<a href="{% url 'user:listusers' %}">Active PanDA {{ caption }}</a>{% endblock %}{% block header-nav-chain-2-separator %}{% endblock %}  
{% block header-nav-chain-3 %}{% endblock %}{% block header-nav-chain-3-separator %}{% endblock %}  
{% block header-nav-chain-4 %}{% endblock %}{% block header-nav-chain-4-separator %}{% endblock %}  
{% block header-nav-chain-5 %}{% endblock %}{% block header-nav-chain-5-separator %}{% endblock %}  
{% block header-nav-chain-6 %}{% endblock %}
{% block extra_css %}
<style type="text/css" title="currentStyle">
@import "{{ STATIC_URL }}/css/jquery.dataTables_themeroller.css";
@import "{{ STATIC_URL }}/css/jquery-ui-1.10.3.custom.min.css";
@import "{{ STATIC_URL }}/css/jquery-ui-timepicker-addon.css";
</style>
{% endblock %}
{% block extra_js %}
	<script type="text/javascript" src="{{ STATIC_URL }}/js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}/js/jquery.dataTables.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}/js/jquery-ui-1.10.3.custom.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}/js/jquery-ui-timepicker-addon.js"></script>
	{% django_js jquery=false i18n=true csrf=false %}

	<script type="text/javascript" charset="utf-8">
		var fields = {{ filterFields|safe }};
		var tableid = "{{ tableid }}";
		var datasrc = "{{ datasrc }}";
		var colsOrig = {{ columns|safe }};
		var fieldIndices = {{ fieldIndices|safe }};
		var oTable;
		var prefix = "{{ prefix|safe }}";
		var staticurl = "{{ STATIC_URL }}";
	</script>
	<script type="text/javascript" src="{{ STATIC_URL }}/js/bigpandamon-csrf.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}/js/bigpandamon-filter.js"></script>
{% endblock %}

{% block body %}
<div class="large-12 columns">
	{% users_list_active datasrc=datasrc data=data columns=columns|safe tableid=tableid|safe caption=caption filterFields=filterFields|safe fieldIndices=fieldIndices|safe 	%}
</div>

{% endblock %}


{% block extra_js_bottombody %}
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function() {
			$.ajaxSetup({
				beforeSend: function(xhr, settings) {
					if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
						// Send the token to same-origin, relative URLs only.
						// Send the token only if the method warrants CSRF protection
						// Using the CSRFToken value acquired earlier
						xhr.setRequestHeader("X-CSRFToken", csrftoken);
					}
				}
			});

			// draw table
			console.debug("before drawTableListActiveUsers");
			drawTableListActiveUsers();
			console.debug("after drawTableListActiveUsers");

		} ); // document.ready
	</script>
{% endblock %}
