{% extends "_base_bigpandamon.html" %}{% load url from future %}
{% comment %}
{% block title %}PanDA Brokerage Monitor{% endblock %}
{% block page_title %}PanDA Brokerage Monitor{% endblock %}
{% block bl_page_title %}PanDA Brokerage Monitor{% endblock %}
{% block gacode %}UA-44940804-1{% endblock %}
{% block gaweb %}pandawms.org{% endblock %}
{% block subtitle %}PanDA Brokerage{% endblock %}
{% block header-nav-chain-1 %}<a href="#">PanDA Brokerage</a>{% endblock %}{% block header-nav-chain-1-separator %}{{ SEPARATOR_NAVIGATION_ITEM|safe }}{% endblock %}
{% block header-nav-chain-2 %}{% endblock %}{% block header-nav-chain-2-separator %}{% endblock %}
{% block header-nav-chain-3 %}{% endblock %}{% block header-nav-chain-3-separator %}{% endblock %}
{% block header-nav-chain-4 %}{% endblock %}{% block header-nav-chain-4-separator %}{% endblock %}
{% block header-nav-chain-5 %}{% endblock %}{% block header-nav-chain-5-separator %}{% endblock %}
{% block header-nav-chain-6 %}{% endblock %}
{% endcomment %}

{% block title %}PanDA Activity Summary{% endblock %}
{% block page_title %}PanDA Activity Summary{% endblock %}
{% block bl_page_title %}PanDA Activity Summary{% endblock %}
{% block gacode %}UA-44940804-1{% endblock %}
{% block gaweb %}pandawms.org{% endblock %}
{% block subtitle %}Activity Summary{% endblock %}

{% block header-nav-chain-1 %}{% endblock %}{% block header-nav-chain-1-separator %}{% endblock %}
{% block header-nav-chain-2 %}{% endblock %}{% block header-nav-chain-2-separator %}{% endblock %}
{% block header-nav-chain-3 %}{% endblock %}{% block header-nav-chain-3-separator %}{% endblock %}
{% block header-nav-chain-4 %}{% endblock %}{% block header-nav-chain-4-separator %}{% endblock %}
{% block header-nav-chain-5 %}{% endblock %}{% block header-nav-chain-5-separator %}{% endblock %}
{% block header-nav-chain-6 %}{% endblock %}
{% block left_menu %}{% endblock %}
{% block body_mobile %}{% endblock %}

{% block extra_js %}
	<script type="text/javascript" src="{{ STATIC_URL }}/js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}/js/highcharts/highcharts.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}/js/highcharts/modules/exporting.js"></script>
{% endblock %}
{% block body %}

{% if errors_GET %}
{% if errors_GET.noparams %}
	<div><span style="color: orange; font-weight: bold;">Query warning.</span> {{errors_GET.noparams}}</div>
{% else %}
{% if errors_GET.startdate %}<div><span style="color: orange; font-weight: bold;">Query error.</span> {{errors_GET.startdate}}</div>{% endif %}
{% if errors_GET.enddate %}<div><span style="color: orange; font-weight: bold;">Query error.</span> {{errors_GET.enddate}}</div>{% endif %}
{% if errors_GET.ndays %}<div><span style="color: orange; font-weight: bold;">Query error.</span> {{errors_GET.ndays}}</div>{% endif %}
{% endif %}
{% endif %}
{% if data %}
<br/><br/>
<table>
<theader>
<tr>
<th>MCP Cloud</th>
<th>PanDA Resource</th>
<th>defined</th>
<th>waiting</th>
<th>pending</th>
<th>assigned</th>
<th>throttled</th>
<th>activated</th>
<th>sent</th>
<th>starting</th>
<th>running</th>
<th>holding</th>
<th>transferring</th>
<th>finished</th>
<th>failed</th>
<th>cancelled</th>
<th>merging</th>
</tr>
</theader>
{% for item in data %}
<tr>
<td>{{item.cloud}}</td>
<td>{{item.computingsite}}</td>
<td>{{item.defined}}</td>
<td>{{item.waiting}}</td>
<td>{{item.pending}}</td>
<td>{{item.assigned}}</td>
<td>{{item.throttled}}</td>
<td>{{item.activated}}</td>
<td>{{item.sent}}</td>
<td>{{item.starting}}</td>
<td>{{item.running}}</td>
<td>{{item.holding}}</td>
<td>{{item.transferring}}</td>
<td>{{item.finished}}</td>
<td>{{item.failed}}</td>
<td>{{item.cancelled}}</td>
<td>{{item.merging}}</td>
</tr>
{% endfor %}
</table>
{% else %}
<div><span style="color: orange; font-weight: bold;">Result warning.</span> No entry satisfied your query parameters.</div>
{% endif %}
{% endblock %}


